<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2014 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension-point id="edu.toronto.cs.se.mmtf.models" name="MMTF model types" schema="schema/edu.toronto.cs.se.mmtf.models.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.relationships" name="MMTF model relationship types" schema="schema/edu.toronto.cs.se.mmtf.relationships.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.editors" name="MMTF editor types" schema="schema/edu.toronto.cs.se.mmtf.editors.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.operators" name="MMTF operator types" schema="schema/edu.toronto.cs.se.mmtf.operators.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/Model"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="true">
         <extendibleType
               name="Model"
               uri="http://se.cs.toronto.edu/mmtf/Model">
         </extendibleType>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/ModelRel"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.relationships">
      <relationshipType>
         <modelType>
            <extendibleType
                  name="ModelRel"
                  uri="http://se.cs.toronto.edu/mmtf/ModelRel">
            <superType
                  uri="http://se.cs.toronto.edu/mmtf/Model">
            </superType>
            </extendibleType>
         </modelType>
         <modelTypeEndpoint>
            <extendibleType
                  name="ModelEndpoint"
                  uri="http://se.cs.toronto.edu/mmtf/ModelRel-Model/ModelEndpoint">
            </extendibleType>
            <typeEndpoint
                  lowerBound="0"
                  upperBound="-1"
                  targetTypeUri="http://se.cs.toronto.edu/mmtf/Model">
            </typeEndpoint>
            <modelElemType
                  classLiteral="ModelElementWildcard">
                <extendibleType
                     name="ModelElem"
                     uri="http://se.cs.toronto.edu/mmtf/Model/ModelElem">
                </extendibleType>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <extendibleType
                  name="Link"
                  uri="http://se.cs.toronto.edu/mmtf/ModelRel/Link">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="ModelElemEndpoint"
                     uri="http://se.cs.toronto.edu/mmtf/ModelRel/Link-ModelElem/ModelElemEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/mmtf/Model/ModelElem">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/Model1"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="false">
         <extendibleType
               name="Model Type 1"
               uri="http://se.cs.toronto.edu/mmtf/Model1">
         </extendibleType>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/mmtf/Model1"
            id="edu.toronto.cs.se.mmtf.mid.presentation.MidEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmtf.mid.presentation.MidModelWizardID">
         <extendibleType
               name="Model1 tree"
               uri="http://se.cs.toronto.edu/mmtf/Model1_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/Model2"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="false">
         <extendibleType
               name="Model Type 2"
               uri="http://se.cs.toronto.edu/mmtf/Model2">
         </extendibleType>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/mmtf/Model2"
            id="edu.toronto.cs.se.mmtf.mid.presentation.MidEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmtf.mid.presentation.MidModelWizardID">
         <extendibleType
               name="Model2 tree"
               uri="http://se.cs.toronto.edu/mmtf/Model2_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/Model3"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="false">
         <extendibleType
               name="Model Type 3"
               uri="http://se.cs.toronto.edu/mmtf/Model3">
         </extendibleType>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/mmtf/Model3"
            id="edu.toronto.cs.se.mmtf.mid.presentation.MidEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmtf.mid.presentation.MidModelWizardID">
         <extendibleType
               name="Model3 tree"
               uri="http://se.cs.toronto.edu/mmtf/Model3_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.operators">
      <operatorType
            class="edu.toronto.cs.se.mmtf.reasoning.EcoreMAVOToSMTLIB"
            isConversion="false">
         <extendibleType
               name="Operator"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_EcoreMAVOToSMTLIB">
         </extendibleType>
         <input>
            <parameter
                  isVararg="false"
                  name="inputModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmtf/Model1">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="outputModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmtf/Model2">
            </parameter>
         </output>
      </operatorType>
   </extension>

</plugin>
