<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2021, 2021 Alessio Di Sandro.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Alessio Di Sandro - Implementation
-->
<plugin>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToProductLine"
               uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine"
               class="edu.toronto.cs.se.mmint.productline.operators.ToProductLine">
         </type>
         <inputs>
            <parameter>
               <type
                     name="product"
                     uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine/product">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="productLine"
                     uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine/productLine">
               </type>
               <typeEndpoint
                     targetTypeUri="model://edu.toronto.cs.se.mmint.productline">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToProduct"
               uri="edu.toronto.cs.se.mmint.productline.operators.ToProduct"
               class="edu.toronto.cs.se.mmint.productline.operators.ToProduct">
         </type>
         <inputs>
            <parameter>
               <type
                     name="productLine"
                     uri="edu.toronto.cs.se.mmint.productline.operators.ToProduct/productLine">
               </type>
               <typeEndpoint
                     targetTypeUri="model://edu.toronto.cs.se.mmint.productline">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="product"
                     uri="edu.toronto.cs.se.mmint.productline.operators.ToProduct/product">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

</plugin>
