<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Vivien Suen.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro, Vivien Suen - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO"
            class="edu.toronto.cs.se.modelepedia.istar_mavo.IStar_MAVOPackage"
            genModel="model/istar_mavo.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType>
         <extendibleType
               name="IStar_MAVO"
               uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO">
            <superType
                  uri="http://se.cs.toronto.edu/mmtf/MAVO">
            </superType>
         </extendibleType>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.relationships">
      <relationshipType>
         <modelType>
            <extendibleType
                  name="IStarCDRel"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel">
            </extendibleType>
         </modelType>
         <modelTypeEndpoint>
            <extendibleType
                  name="IStarEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel-IStar_MAVO/IStarEndpoint">
            </extendibleType>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO">
            </typeEndpoint>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Actor">
                <extendibleType
                     name="Actor"
                     uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Actor">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Task">
                <extendibleType
                     name="Task"
                     uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Task">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Goal">
                <extendibleType
                     name="Goal"
                     uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Goal">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Resource">
                <extendibleType
                     name="Resource"
                     uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Resource">
                </extendibleType>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <extendibleType
                  name="ClassDiagramEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel-ClassDiagram_MAVO/ClassDiagramEndpoint">
            </extendibleType>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO">
            </typeEndpoint>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Class">
                <extendibleType
                     name="Class"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO/Class">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Operation">
                <extendibleType
                     name="Operation"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO/Operation">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Dependency">
                <extendibleType
                     name="Dependency"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO/Dependency">
                </extendibleType>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <extendibleType
                  name="ActorClassLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ActorClassLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="ActorEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ActorClassLink-Actor/ActorEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Actor">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="ClassEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ActorClassLink-Class/ClassEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO/Class">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <extendibleType
                  name="ResourceClassLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceClassLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="ResourceEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceClassLink-Resource/ResourceEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Resource">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="ClassEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceClassLink-Class/ClassEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO/Class">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <extendibleType
                  name="TaskOperationLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/TaskOperationLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="TaskEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/TaskOperationLink-Task/TaskEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Task">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="OperationEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/TaskOperationLink-Operation/OperationEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO/Operation">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <extendibleType
                  name="GoalDependumDependencyLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/GoalDependumDependencyLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="GoalDependumEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/GoalDependumDependencyLink-GoalDependum/GoalDependumEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Goal">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="DependencyEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/GoalDependumDependencyLink-Dependency/DependencyEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO/Dependency">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <extendibleType
                  name="ResourceDependumDependencyLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceDependumDependencyLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="ResourceDependumEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceDependumDependencyLink-ResourceDependum/ResourceDependumEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO/Resource">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="DependencyEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceDependumDependencyLink-Dependency/DependencyEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO/Dependency">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

</plugin>
