<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.toronto.cs.se.modelepedia.safetycase.design.Activator"
               id="edu.toronto.cs.se.modelepedia.safetycase.design"
	       name="safetycase">
    </component>
  </extension>
  
   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/SafetyCase"
            id="edu.toronto.cs.se.modelepedia.safetycase.design"
            isDiagram="true">
         <type
               name="SafetyCase Viewpoint"
               uri="SafetyCaseRepresentation">
         </type>
      </editorType>
   </extension>
   
</plugin>
