<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Vivien Suen.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.se.modelepedia.statemachine.presentation.StatemachineModelWizardID"
            name="%_UI_StatemachineModelWizard_label"
            class="edu.toronto.cs.se.modelepedia.statemachine.presentation.StatemachineModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StatemachineModelFile.gif">
         <description>%_UI_StatemachineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="edu.toronto.cs.se.modelepedia.statemachine.presentation.StatemachineEditorID"
            name="%_UI_StatemachineEditor_label"
            icon="icons/full/obj16/StatemachineModelFile.gif"
            extensions="statemachine"
            class="edu.toronto.cs.se.modelepedia.statemachine.presentation.StatemachineEditor"
            contributorClass="edu.toronto.cs.se.modelepedia.statemachine.presentation.StatemachineActionBarContributor">
      </editor>
   </extension>

   <extension
         name="StateMachine editor"
         point="edu.toronto.cs.se.mmtf.editors">
      <editor
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/statemachine"
            id="edu.toronto.cs.se.modelepedia.statemachine.presentation.StatemachineEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.modelepedia.statemachine.presentation.StatemachineModelWizardID">
         <extendibleElement
               uri="http://se.cs.toronto.edu/modelepedia/statemachine/presentation">
         </extendibleElement>
      </editor>
   </extension>

</plugin>
