<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2017 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension-point id="edu.toronto.cs.se.mmint.models" name="MMINT model types" schema="schema/edu.toronto.cs.se.mmint.models.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmint.relationships" name="MMINT model relationship types" schema="schema/edu.toronto.cs.se.mmint.relationships.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmint.editors" name="MMINT editor types" schema="schema/edu.toronto.cs.se.mmint.editors.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmint.operators" name="MMINT operator types" schema="schema/edu.toronto.cs.se.mmint.operators.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmint.reasoners" name="MMINT reasoning engines" schema="schema/edu.toronto.cs.se.mmint.reasoners.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mid -->
      <package
            uri="http://se.cs.toronto.edu/mmint/MID"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mid -->
      <package
            uri="http://se.cs.toronto.edu/mmint/MID/Relationship"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mid -->
      <package
            uri="http://se.cs.toronto.edu/mmint/MID/Editor"
            class="edu.toronto.cs.se.mmint.mid.editor.EditorPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mid -->
      <package
            uri="http://se.cs.toronto.edu/mmint/MID/Operator"
            class="edu.toronto.cs.se.mmint.mid.operator.OperatorPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmint/Model"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="Model"
               uri="http://se.cs.toronto.edu/mmint/Model"
               isAbstract="true">
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmint/ModelRel"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="ModelRel"
                  uri="http://se.cs.toronto.edu/mmint/ModelRel">
              <superType
                    uri="http://se.cs.toronto.edu/mmint/Model">
              </superType>
            </type>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="ModelEndpoint"
                  uri="http://se.cs.toronto.edu/mmint/ModelRel-Model/ModelEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="0"
                  upperBound="-1"
                  targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="ModelElement"
                     uri="http://se.cs.toronto.edu/mmint/Model#//ModelElement">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <mappingType>
            <type
                  name="Mapping"
                  uri="http://se.cs.toronto.edu/mmint/ModelRel/Mapping">
            </type>
            <modelElemTypeEndpoint>
               <type
                     name="ModelElemEndpoint"
                     uri="http://se.cs.toronto.edu/mmint/ModelRel/Mapping-ModelElem/ModelElemEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model#//ModelElement">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </mappingType>
      </relationshipType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="MID"
               uri="http://se.cs.toronto.edu/mmint/MID">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Operator"
               uri="http://se.cs.toronto.edu/mmint/Operator"
               class="edu.toronto.cs.se.mmint.mid.operator.impl.OperatorImpl"
               isAbstract="true">
         </type>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="WorkflowOperator"
               uri="http://se.cs.toronto.edu/mmint/WorkflowOperator"
               class="edu.toronto.cs.se.mmint.mid.operator.impl.WorkflowOperatorImpl"
               isAbstract="true">
            <superType
                  uri="http://se.cs.toronto.edu/mmint/Operator">
            </superType>
         </type>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmint/NoInput"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="NoInput"
               uri="http://se.cs.toronto.edu/mmint/NoInput"
               isAbstract="true">
         </type>
      </modelType>
   </extension>

</plugin>
