<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2015 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ExperimentDriver"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ExperimentDriver"
               class="edu.toronto.cs.se.modelepedia.operator.experiment.ExperimentDriver">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="modelType"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
         </input>
         <output>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ModelNameMatch"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ModelNameMatch"
               class="edu.toronto.cs.se.modelepedia.operator.match.ModelNameMatch">
         </type>
         <input>
            <parameter
                  isVararg="true"
                  name="models"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="nameMatch"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="EMFModelNameMatch"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_EMFModelNameMatch"
               class="edu.toronto.cs.se.modelepedia.operator.match.EMFModelNameMatch">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="srcModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
            <parameter
                  isVararg="false"
                  name="tgtModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="nameMatchRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ModelDifference"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ModelDifference"
               class="edu.toronto.cs.se.modelepedia.operator.diff.ModelDifference">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="srcModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
            <parameter
                  isVararg="false"
                  name="matchRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="tgtModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="diffRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="EMFModelDifference"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_EMFModelDifference"
               class="edu.toronto.cs.se.modelepedia.operator.diff.EMFModelDifference">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="srcModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
            <parameter
                  isVararg="false"
                  name="matchRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="tgtModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="diffRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="EMFModelMerge"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_EMFModelMerge"
               class="edu.toronto.cs.se.modelepedia.operator.merge.EMFModelMerge">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="srcModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
            <parameter
                  isVararg="false"
                  name="matchRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="tgtModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="mergedModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
            <parameter
                  isVararg="false"
                  name="srcMatchRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="tgtMatchRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ChangeImpact"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ChangeImpact"
               class="edu.toronto.cs.se.modelepedia.operator.slice.ChangeImpact">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="original"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
            <parameter
                  isVararg="false"
                  name="difference"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="modified"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
            <parameter
                  isVararg="false"
                  name="trace"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="impacted"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="changeImpact"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ChangePropagation"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ChangePropagation"
               class="edu.toronto.cs.se.modelepedia.operator.propagate.ChangePropagation">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="original"
                  modelTypeUri="http://se.cs.toronto.edu/MAVO">
            </parameter>
            <parameter
                  isVararg="false"
                  name="refinement"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/MAVORefinementRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="refined"
                  modelTypeUri="http://se.cs.toronto.edu/MAVO">
            </parameter>
            <parameter
                  isVararg="false"
                  name="trace"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="related"
                  modelTypeUri="http://se.cs.toronto.edu/MAVO">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="propagated"
                  modelTypeUri="http://se.cs.toronto.edu/MAVO">
            </parameter>
            <parameter
                  isVararg="false"
                  name="propagatedRefinement"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/MAVORefinementRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="propagatedTrace"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="BinaryModelRelInversion"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_BinaryModelRelInversion"
               class="edu.toronto.cs.se.modelepedia.operator.patch.BinaryModelRelInversion">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="modelRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="invertedModelRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ModelRelTypeTransformation"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ModelRelTypeTransformation"
               class="edu.toronto.cs.se.modelepedia.operator.patch.ModelRelTypeTransformation">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  isType="true"
                  name="modelRelType"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
            <parameter
                  isVararg="false"
                  name="srcModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="tgtModel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </parameter>
            <parameter
                  isVararg="false"
                  name="traceModelRel"
                  modelTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
            </parameter>
         </output>
      </operatorType>
   </extension>

</plugin>
