<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2013 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Vivien Suen.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ICMT15"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ICMT15"
               class="edu.toronto.cs.se.modelepedia.icmt15.operator.ICMT15">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="model"
	                 uri="">
	           </type>
	           <typeEndpoint
	                 lowerBound="1"
	                 upperBound="1"
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="biggerModel"
	                 uri="">
	           </type>
	           <typeEndpoint
	                 lowerBound="1"
	                 upperBound="1"
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

</plugin>
