<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012-2018 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated kleisli -->
      <factory
            uri="http://se.cs.toronto.edu/modelepedia/KleisliModelRel"
            class="edu.toronto.cs.se.modelepedia.kleisli.provider.KleisliItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated kleisli -->
      <extender
            uri="http://se.cs.toronto.edu/mmint/MID"
            class="edu.toronto.cs.se.modelepedia.kleisli.provider.KleisliItemProviderAdapterFactory$MIDChildCreationExtender"/>
      <extender
            uri="http://se.cs.toronto.edu/mmint/MID/Relationship"
            class="edu.toronto.cs.se.modelepedia.kleisli.provider.KleisliItemProviderAdapterFactory$RelationshipChildCreationExtender"/>
      <extender
            uri="http://se.cs.toronto.edu/mmint/MID/Operator"
            class="edu.toronto.cs.se.modelepedia.kleisli.provider.KleisliItemProviderAdapterFactory$OperatorChildCreationExtender"/>
   </extension>

</plugin>
