<?xml version="1.0" encoding="UTF-8"?><!--
    Copyright (c) 2012, 2022 Alessio Di Sandro.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Alessio Di Sandro - Implementation
 --><plugin>
  <extension id="jase20.Iso26262" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:jase20.Iso26262" id="jase20.Iso26262">
      <query-specification fqn="jase20.a1"/>
      <query-specification fqn="jase20.a2"/>
      <query-specification fqn="jase20.b"/>
      <query-specification fqn="jase20.c_rulesASILQM"/>
      <query-specification fqn="jase20.c_rulesASILA"/>
      <query-specification fqn="jase20.c_rulesASILB"/>
      <query-specification fqn="jase20.c_rulesASILC"/>
      <query-specification fqn="jase20.c_rulesASILD"/>
      <query-specification fqn="jase20.c"/>
      <query-specification fqn="jase20.d"/>
      <query-specification fqn="jase20.e_eventASIL"/>
      <query-specification fqn="jase20.e"/>
    </group>
  </extension>
  <extension id="jase20.Scenarios" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:jase20.Scenarios" id="jase20.Scenarios">
      <query-specification fqn="jase20.alarmClasses"/>
      <query-specification fqn="jase20.turnOffFunctions"/>
      <query-specification fqn="jase20.asilBConnectedModelElems"/>
      <query-specification fqn="jase20.highlyConnectedModelElems"/>
    </group>
  </extension>
  <extension id="library.MID" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:library.MID" id="library.MID">
      <query-specification fqn="library.connectedModelElems"/>
      <query-specification fqn="library.connectedEMFObjects"/>
      <query-specification fqn="library.allConnectedModelElems"/>
      <query-specification fqn="library.allConnectedEMFObjects"/>
    </group>
  </extension>
</plugin>
