<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2025 Alessio Di Sandro, Marsha Chechik, Nick Fung.
 All rights reserved. This program and the accompanying materials are made available under the terms
 of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Alessio Di Sandro - Implementation.
   Nick Fung - Implementation.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated gsn -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.se.modelepedia.gsn.presentation.GSNModelWizardID"
            name="%_UI_GSNModelWizard_label"
            class="edu.toronto.cs.se.modelepedia.gsn.presentation.GSNModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GSNModelFile.gif">
         <description>%_UI_GSNModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated gsn -->
      <editor
            id="edu.toronto.cs.se.modelepedia.gsn.presentation.GSNEditorID"
            name="%_UI_GSNEditor_label"
            icon="icons/full/obj16/GSNModelFile.gif"
            extensions="gsn"
            class="edu.toronto.cs.se.modelepedia.gsn.presentation.GSNEditor"
            contributorClass="edu.toronto.cs.se.modelepedia.gsn.presentation.GSNActionBarContributor">
      </editor>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="edu.toronto.cs.se.modelepedia.gsn.presentation.GSNEditorID"
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/GSN"
            wizardId="edu.toronto.cs.se.modelepedia.gsn.presentation.GSNModelWizardID">
         <type
               name="GSN EMF Editor"
               uri="http://se.cs.toronto.edu/modelepedia/Editor_GSN">
         </type>
      </editorType>
   </extension>

</plugin>
