<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated productline -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.se.mmint.productline.presentation.ProductLineModelWizardID"
            name="%_UI_ProductLineModelWizard_label"
            class="edu.toronto.cs.se.mmint.productline.presentation.ProductLineModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProductLineModelFile.gif">
         <description>%_UI_ProductLineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated productline -->
      <editor
            id="edu.toronto.cs.se.mmint.productline.presentation.ProductLineEditorID"
            name="%_UI_ProductLineEditor_label"
            icon="icons/full/obj16/ProductLineModelFile.gif"
            extensions="productline"
            class="edu.toronto.cs.se.mmint.productline.presentation.ProductLineEditor"
            contributorClass="edu.toronto.cs.se.mmint.productline.presentation.ProductLineActionBarContributor">
      </editor>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="edu.toronto.cs.se.mmint.productline.presentation.ProductLineEditorID"
            modelTypeUri="model://edu.toronto.cs.se.mmint.productline"
            wizardId="edu.toronto.cs.se.mmint.productline.presentation.ProductLineModelWizardID">
         <type
               name="ProductLine EMF Editor"
               uri="edu.toronto.cs.se.mmint.productline.editor">
         </type>
      </editorType>
   </extension>

</plugin>
