<?xml version="1.0" encoding="UTF-8"?><!--
    Copyright (c) 2012, 2022 Alessio Di Sandro.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Alessio Di Sandro - Implementation
 --><plugin>
  <extension id="library.MID" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:library.MID" id="library.MID">
      <query-specification fqn="library.connectedModelElems"/>
      <query-specification fqn="library.connectedEMFObjects"/>
      <query-specification fqn="library.allConnectedModelElems"/>
      <query-specification fqn="library.allConnectedEMFObjects"/>
    </group>
  </extension>
  <extension id="models20.Demo" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:models20.Demo" id="models20.Demo">
      <query-specification fqn="models20.alarms"/>
    </group>
  </extension>
</plugin>
