/.AsilBConnectedClassesCD.java._trace
/.AsilBConnectedClassesPL.java._trace
/.HighlyConnectedModelObjsCD.java._trace
/.HighlyConnectedModelObjsPL.java._trace
/.Lifted.java._trace
/.MultipleInheritanceCD.java._trace
/.MultipleInheritancePL.java._trace
/.Orig.java._trace
/.TestAttribute2CD.java._trace
/.TestAttribute2PL.java._trace
/.TestAttributeCD.java._trace
/.TestAttributePL.java._trace
/.TestMaxCD.java._trace
/.TestMaxPL.java._trace
/.TestMinCD.java._trace
/.TestMinPL.java._trace
/.TestMultipleEdgesCD.java._trace
/.TestMultipleEdgesPL.java._trace
