<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
    Copyright (c) 2021, 2021 Alessio Di Sandro.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Alessio Di Sandro - Implementation
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated productline -->
    <package class="edu.toronto.cs.se.mmint.productline.ProductLinePackage" genModel="model/productline.genmodel" uri="model://edu.toronto.cs.se.mmint.productline"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated productline -->
    <package class="edu.toronto.cs.se.mmint.productline.mid.ProductLineMIDPackage" genModel="model/productline.genmodel" uri="rel://edu.toronto.cs.se.mmint.productline.mid.PLModelRel"/>
  </extension>
  <extension point="edu.toronto.cs.se.mmint.models">
    <modelType>
      <type name="ProductLine" uri="model://edu.toronto.cs.se.mmint.productline"/>
    </modelType>
  </extension>
  <extension point="edu.toronto.cs.se.mmint.relationships">
    <relationshipType>
      <modelType>
        <type class="edu.toronto.cs.se.mmint.productline.mid.ProductLineMIDHeavyTypeFactory" name="PLModelRel" uri="rel://edu.toronto.cs.se.mmint.productline.mid.PLModelRel"/>
      </modelType>
      <modelTypeEndpoint>
        <type name="PLModelEndpoint" uri="edu.toronto.cs.se.mmint.productline.mid.PLModelRel.PLModelEndpoint"/>
        <typeEndpoint lowerBound="1" targetTypeUri="model://edu.toronto.cs.se.mmint.productline" upperBound="-1"/>
        <modelElemType>
          <type name="PLModelElement" uri="model://edu.toronto.cs.se.mmint.productline#//PLElement"/>
        </modelElemType>
      </modelTypeEndpoint>
      <modelTypeEndpoint>
        <type name="ModelEndpoint" uri="edu.toronto.cs.se.mmint.productline.mid.PLModelRel.ModelEndpoint"/>
        <typeEndpoint lowerBound="0" targetTypeUri="http://se.cs.toronto.edu/mmint/Model" upperBound="-1"/>
        <modelElemType>
          <type name="ModelElement" uri="http://se.cs.toronto.edu/mmint/Model#//ModelElement"/>
        </modelElemType>
      </modelTypeEndpoint>
      <mappingType>
        <type class="edu.toronto.cs.se.mmint.productline.mid.ProductLineMIDHeavyTypeFactory" name="PLMapping" uri="edu.toronto.cs.se.mmint.productline.mid.PLModelRel.PLMapping"/>
        <modelElemTypeEndpoint>
          <type name="PLModelElementEndpoint" uri="edu.toronto.cs.se.mmint.productline.mid.PLModelRel.PLMapping.PLModelElementEndpoint"/>
          <typeEndpoint lowerBound="1" targetTypeUri="model://edu.toronto.cs.se.mmint.productline#//PLElement" upperBound="-1"/>
        </modelElemTypeEndpoint>
        <modelElemTypeEndpoint>
          <type name="ModelElementEndpoint" uri="edu.toronto.cs.se.mmint.productline.mid.PLModelRel.PLMapping.ModelElementEndpoint"/>
          <typeEndpoint lowerBound="0" targetTypeUri="http://se.cs.toronto.edu/mmint/Model#//ModelElement" upperBound="-1"/>
        </modelElemTypeEndpoint>
      </mappingType>
    </relationshipType>
  </extension>
  <extension id="edu.toronto.cs.se.mmint.productline.viatra.Pl" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:edu.toronto.cs.se.mmint.productline.viatra.Pl" id="edu.toronto.cs.se.mmint.productline.viatra.Pl">
      <query-specification fqn="edu.toronto.cs.se.mmint.productline.viatra.classType"/>
      <query-specification fqn="edu.toronto.cs.se.mmint.productline.viatra.reference"/>
      <query-specification fqn="edu.toronto.cs.se.mmint.productline.viatra.attribute"/>
    </group>
  </extension>
</plugin>
