<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
Copyright Text ->

Copyright (c) 2012-2014 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
Rick Salay.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
   Alessio Di Sandro - Implementation.
-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="statemachinediag"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="statemachinediag"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/StateMachineDiagramFile.gif"
         extensions="statemachinediag"
         default="true"
         class="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditor"
         matchingStrategy="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineMatchingStrategy"
         contributorClass="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="edu.toronto.cs.se.modelepedia.statemachine.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/StateMachineDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineCreationWizard"
  	     id="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.InitDiagram"
            nameFilter="*.statemachine"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="edu.toronto.cs.se.modelepedia.statemachine.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="StateMachinePresentation">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="StateMachinePresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="StateMachineRender">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.StateMachineMarkerNavigationProvider">
         <MarkerType name="edu.toronto.cs.se.modelepedia.statemachine.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="StateMachine Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.StateMachineValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="edu.toronto.cs.se.modelepedia.statemachine.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.general"
            name="%prefpage.edu.toronto.cs.se.modelepedia.statemachine.diagram.general"
            class="edu.toronto.cs.se.modelepedia.statemachine.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.appearance"
            name="%prefpage.edu.toronto.cs.se.modelepedia.statemachine.diagram.appearance"
            category="edu.toronto.cs.se.modelepedia.statemachine.diagram.general"
            class="edu.toronto.cs.se.modelepedia.statemachine.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.connections"
            name="%prefpage.edu.toronto.cs.se.modelepedia.statemachine.diagram.connections"
            category="edu.toronto.cs.se.modelepedia.statemachine.diagram.general"
            class="edu.toronto.cs.se.modelepedia.statemachine.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.printing"
            name="%prefpage.edu.toronto.cs.se.modelepedia.statemachine.diagram.printing"
            category="edu.toronto.cs.se.modelepedia.statemachine.diagram.general"
            class="edu.toronto.cs.se.modelepedia.statemachine.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.rulersAndGrid"
            name="%prefpage.edu.toronto.cs.se.modelepedia.statemachine.diagram.rulersAndGrid"
            category="edu.toronto.cs.se.modelepedia.statemachine.diagram.general"
            class="edu.toronto.cs.se.modelepedia.statemachine.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="edu.toronto.cs.se.modelepedia.statemachine.diagram"
            labelProvider="edu.toronto.cs.se.modelepedia.statemachine.diagram.sheet.StateMachineSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="edu.toronto.cs.se.modelepedia.statemachine.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="edu.toronto.cs.se.modelepedia.statemachine.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="edu.toronto.cs.se.modelepedia.statemachine.diagram.sheet.StateMachinePropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.StateMachineViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="statemachine"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="StateMachine"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,3001"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.StateMachineEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="StateMachine"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,3001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5002,5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.assistants.StateMachineModelingAssistantProviderOfStateMachineEditPart">
         <Priority name="Lowest"/>
         <object class="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.parts.StateMachineEditPart" id="StateMachine_1000"/>
         <context elements="StateMachine_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.assistants.StateMachineModelingAssistantProviderOfStateEditPart">
         <Priority name="Lowest"/>
         <object class="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.parts.StateEditPart" id="State_2001"/>
         <context elements="State_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.assistants.StateMachineModelingAssistantProviderOfInitialStateEditPart">
         <Priority name="Lowest"/>
         <object class="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.parts.InitialStateEditPart" id="InitialState_2002"/>
         <context elements="InitialState_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.assistants.StateMachineModelingAssistantProviderOfFinalStateEditPart">
         <Priority name="Lowest"/>
         <object class="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.parts.FinalStateEditPart" id="FinalState_2003"/>
         <context elements="FinalState_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.assistants.StateMachineModelingAssistantProviderOfStateActionEditPart">
         <Priority name="Lowest"/>
         <object class="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.parts.StateActionEditPart" id="StateAction_3001"/>
         <context elements="StateAction_3001"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.StateMachineIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.StateMachineParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="edu.toronto.cs.se.modelepedia.statemachine.diagram.providers.StateMachineShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001,2002,2003"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://se.cs.toronto.edu/modelepedia/StateMachine">
         <metamodelType
               id="edu.toronto.cs.se.modelepedia.statemachine.diagram.StateMachine_1000"
               name="%metatype.name.StateMachine_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StateMachine"
               edithelper="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.helpers.StateMachineEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/modelepedia/StateMachine">
         <metamodelType
               id="edu.toronto.cs.se.modelepedia.statemachine.diagram.State_2001"
               name="%metatype.name.State_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="State"
               edithelper="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.helpers.StateEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/modelepedia/StateMachine">
         <metamodelType
               id="edu.toronto.cs.se.modelepedia.statemachine.diagram.InitialState_2002"
               name="%metatype.name.InitialState_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InitialState"
               edithelper="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.helpers.InitialStateEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/modelepedia/StateMachine">
         <metamodelType
               id="edu.toronto.cs.se.modelepedia.statemachine.diagram.FinalState_2003"
               name="%metatype.name.FinalState_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FinalState"
               edithelper="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.helpers.FinalStateEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/modelepedia/StateMachine">
         <metamodelType
               id="edu.toronto.cs.se.modelepedia.statemachine.diagram.StateAction_3001"
               name="%metatype.name.StateAction_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StateAction"
               edithelper="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.helpers.StateActionEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/modelepedia/StateMachine">
         <metamodelType
               id="edu.toronto.cs.se.modelepedia.statemachine.diagram.Transition_4001"
               name="%metatype.name.Transition_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Transition"
               edithelper="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.helpers.TransitionEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="edu.toronto.cs.se.modelepedia.statemachine.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="edu.toronto.cs.se.modelepedia.statemachine.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="edu.toronto.cs.se.modelepedia.statemachine.diagram.TypeContext">
         <elementType ref="edu.toronto.cs.se.modelepedia.statemachine.diagram.StateMachine_1000"/>
         <elementType ref="edu.toronto.cs.se.modelepedia.statemachine.diagram.State_2001"/>
         <elementType ref="edu.toronto.cs.se.modelepedia.statemachine.diagram.InitialState_2002"/>
         <elementType ref="edu.toronto.cs.se.modelepedia.statemachine.diagram.FinalState_2003"/>
         <elementType ref="edu.toronto.cs.se.modelepedia.statemachine.diagram.StateAction_3001"/>
         <elementType ref="edu.toronto.cs.se.modelepedia.statemachine.diagram.Transition_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.toronto.cs.se.modelepedia.statemachine.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="edu.toronto.cs.se.modelepedia.statemachine.diagram"
           properties="isURIEditorInput"
           class="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.toronto.cs.se.modelepedia.statemachine.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="edu.toronto.cs.se.modelepedia.statemachine.diagram"
           properties="isShortcut"
           class="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="edu.toronto.cs.se.modelepedia.statemachine.diagram.resourceContent"/>
			<contentExtension pattern="edu.toronto.cs.se.modelepedia.statemachine.diagram.domainResourceContent"/>
            <contentExtension pattern="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineNavigatorContentProvider" 
            labelProvider="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineNavigatorLabelProvider"
            icon="icons/obj16/StateMachineDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="statemachinediag"/>
               </and>
               <instanceof value="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.toronto.cs.se.modelepedia.statemachine.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.toronto.cs.se.modelepedia.statemachine.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigatorSorter" 
               class="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="statemachinediag"/>
                  </and>
                  <instanceof value="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineDomainNavigatorContentProvider" 
            labelProvider="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineDomainNavigatorLabelProvider"
            icon="icons/obj16/StateMachineDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="statemachine"/>
               </and>
               <instanceof value="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigatorActionProvider"
            class="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.toronto.cs.se.modelepedia.statemachine.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigatorLinkHelper"
            class="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="edu.toronto.cs.se.modelepedia.statemachine.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="edu.toronto.cs.se.modelepedia.statemachine.diagram.navigator.StateMachineAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramUpdateCommand"
         description="%update.diagram.description"
         id="edu.toronto.cs.se.modelepedia.statemachine.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="edu.toronto.cs.se.modelepedia.statemachine.diagram.updateDiagram"
         contextId="edu.toronto.cs.se.modelepedia.statemachine.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="edu.toronto.cs.se.modelepedia.statemachine.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="edu.toronto.cs.se.modelepedia.statemachine.diagram.edit.parts.StateMachineEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="edu.toronto.cs.se.modelepedia.statemachine.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditorID"
         defaultHandler="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/StateMachine"
            id="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineDiagramEditorID"
            isDiagram="true"
            wizardId="edu.toronto.cs.se.modelepedia.statemachine.diagram.part.StateMachineCreationWizardID">
         <type
               name="StateMachine diagram"
               uri="http://se.cs.toronto.edu/modelepedia/Diagram_StateMachine">
         </type>
      </editorType>
   </extension>

</plugin>
