<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.toronto.cs.se.mmint3.design.Activator"
               id="edu.toronto.cs.se.mmint3.design"
	       name="mm">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.toronto.cs.se.mmint3.design.actions.ModelInstanceCreate"
           id="edu.toronto.cs.se.mmint3.design.actions.ModelInstanceCreate">
     </javaActions>
  </extension>
</plugin>
