<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension-point id="models" name="MMINT model types" schema="schema/models.exsd"/>
   <extension-point id="editors" name="MMINT editor types" schema="schema/editors.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mm -->
      <package
            uri="edu.toronto.cs.se.mmint3.mm"
            class="edu.toronto.cs.se.mmint3.mm.MMPackage"
            genModel="model/mm.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint3.models">
      <modelType>
         <type
               id="edu.toronto.cs.se.mmint3.mm"
               name="MegaModel">
         </type>
      </modelType>
   </extension>

</plugin>
