<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2021, 2021 Alessio Di Sandro.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Alessio Di Sandro - Implementation
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated papyrus -->
      <package
            uri="model://edu.toronto.cs.se.mmint.papyrus"
            class="edu.toronto.cs.se.mmint.papyrus.PapyrusPackage"
            genModel="model/papyrus.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="UML"
               uri="http://www.eclipse.org/uml2/5.0.0/UML"
               class="edu.toronto.cs.se.mmint.papyrus.uml.UMLMIDHeavyTypeFactory">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/5.0.0/UML"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UML tree"
               uri="http://www.eclipse.org/uml2/5.0.0/UML_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/5.0.0/UML"
            wizardDialogClass="edu.toronto.cs.se.mmint.papyrus.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/5.0.0/UML_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="UMLComponentDeploymentRel"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel">
            </type>
         </modelType>
         <binaryType
               sourceTypeUri="http://www.eclipse.org/uml2/5.0.0/UML"
               targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="UMLComponentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel-UML/UMLComponentEndpoint">
            </type>
            <typeEndpoint
                  targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Usage"
                     uri="http://www.eclipse.org/uml2/5.0.0/UML#//Usage">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Component"
                     uri="http://www.eclipse.org/uml2/5.0.0/UML#//Component">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="UMLDeploymentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel-UML/UMLDeploymentEndpoint">
            </type>
            <typeEndpoint
                  targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Node"
                     uri="http://www.eclipse.org/uml2/5.0.0/UML#//Node">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Device"
                     uri="http://www.eclipse.org/uml2/5.0.0/UML#//Device">
                   <superType
                         uri="http://www.eclipse.org/uml2/5.0.0/UML#//Node">
                   </superType>
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <mappingType>
            <type
                  name="ComponentDeviceLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink">
            </type>
            <binaryType
                  sourceTypeUri="http://www.eclipse.org/uml2/5.0.0/UML#//Component"
                  targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML#//Device">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="ComponentEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink-Component/ComponentEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML#//Component">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="DeviceEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink-Device/DeviceEndpoint">
               </type>
               <typeEndpoint
                     targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML#//Device">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </mappingType>
         <mappingType>
            <type
                  name="UsageNodeLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink">
            </type>
            <binaryType
                  sourceTypeUri="http://www.eclipse.org/uml2/5.0.0/UML#//Usage"
                  targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML#//Node">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="UsageEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink-Usage/UsageEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML#//Usage">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="NodeEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink-Node/NodeEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     targetTypeUri="http://www.eclipse.org/uml2/5.0.0/UML#//Node">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </mappingType>
      </relationshipType>
   </extension>

</plugin>
