<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2021, 2021 Alessio Di Sandro.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Alessio Di Sandro - Implementation
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated papyrus -->
      <package
            uri="model://edu.toronto.cs.se.mmint.papyrus"
            class="edu.toronto.cs.se.mmint.papyrus.PapyrusPackage"
            genModel="model/papyrus.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="UML"
               uri="http://www.eclipse.org/uml2/5.0.0/UML"
               class="edu.toronto.cs.se.mmint.papyrus.uml.UMLMIDHeavyTypeFactory">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/5.0.0/UML"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UML tree"
               uri="http://www.eclipse.org/uml2/5.0.0/UML_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/5.0.0/UML"
            wizardDialogClass="edu.toronto.cs.se.mmint.papyrus.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/5.0.0/UML_diagram">
         </type>
      </editorType>
   </extension>

</plugin>
