<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
Copyright (c) 2013 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
Rick Salay, Vivien Suen.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
   Alessio Di Sandro - Implementation.
-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="middiag"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="middiag"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/MidDiagramFile.gif"
         extensions="middiag"
         default="true"
         class="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditor"
         matchingStrategy="edu.toronto.cs.se.mmtf.mid.diagram.part.MidMatchingStrategy"
         contributorClass="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="edu.toronto.cs.se.mmtf.mid.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/MidDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="edu.toronto.cs.se.mmtf.mid.diagram.part.MidCreationWizard"
  	     id="edu.toronto.cs.se.mmtf.mid.diagram.part.MidCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="edu.toronto.cs.se.mmtf.diagram.InitDiagram"
            nameFilter="*.mid"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="edu.toronto.cs.se.mmtf.mid.diagram.part.MidInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="edu.toronto.cs.se.mmtf.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="MidPresentation">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="MidPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="MidRender">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidMarkerNavigationProvider">
         <MarkerType name="edu.toronto.cs.se.mmtf.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Mid Diagram Type problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="edu.toronto.cs.se.mmtf.mid.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="edu.toronto.cs.se.mmtf.diagram.general"
            name="%prefpage.edu.toronto.cs.se.mmtf.diagram.general"
            class="edu.toronto.cs.se.mmtf.mid.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.se.mmtf.diagram.appearance"
            name="%prefpage.edu.toronto.cs.se.mmtf.diagram.appearance"
            category="edu.toronto.cs.se.mmtf.diagram.general"
            class="edu.toronto.cs.se.mmtf.mid.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="edu.toronto.cs.se.mmtf.diagram.connections"
            name="%prefpage.edu.toronto.cs.se.mmtf.diagram.connections"
            category="edu.toronto.cs.se.mmtf.diagram.general"
            class="edu.toronto.cs.se.mmtf.mid.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.se.mmtf.diagram.printing"
            name="%prefpage.edu.toronto.cs.se.mmtf.diagram.printing"
            category="edu.toronto.cs.se.mmtf.diagram.general"
            class="edu.toronto.cs.se.mmtf.mid.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.se.mmtf.diagram.rulersAndGrid"
            name="%prefpage.edu.toronto.cs.se.mmtf.diagram.rulersAndGrid"
            category="edu.toronto.cs.se.mmtf.diagram.general"
            class="edu.toronto.cs.se.mmtf.mid.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="edu.toronto.cs.se.mmtf.diagram"
            labelProvider="edu.toronto.cs.se.mmtf.mid.diagram.sheet.MidSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="edu.toronto.cs.se.mmtf.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="edu.toronto.cs.se.mmtf.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="edu.toronto.cs.se.mmtf.mid.diagram.sheet.MidPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="mid"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Mid"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2011,2012,2013,2014,2015"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4013,4014,4015,4016,4017"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Mid"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2011,2012,2013,2014,2015"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4013,4014,4015,4016,4017"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5011,5016,5012,5017,5013,5018,5014,5019,5015"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="edu.toronto.cs.se.mmtf.mid.diagram.edit.parts.MultiModelEditPart" id="MultiModel_1000"/>
         <object class="edu.toronto.cs.se.mmtf.mid.diagram.edit.parts.ModelEditPart" id="Model_2011"/>
         <object class="edu.toronto.cs.se.mmtf.mid.diagram.edit.parts.Model2EditPart" id="Model_2012"/>
         <object class="edu.toronto.cs.se.mmtf.mid.diagram.edit.parts.ModelRelEditPart" id="ModelRel_2013"/>
         <object class="edu.toronto.cs.se.mmtf.mid.diagram.edit.parts.ModelRel2EditPart" id="ModelRel_2014"/>
         <object class="edu.toronto.cs.se.mmtf.mid.diagram.edit.parts.OperatorEditPart" id="Operator_2015"/>
         <context elements="MultiModel_1000,Model_2011,Model_2012,ModelRel_2013,ModelRel_2014,Operator_2015,"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2011,2012,2013,2014,2015"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID">
         <metamodelType
               id="edu.toronto.cs.se.mmtf.diagram.MultiModel_1000"
               name="%metatype.name.MultiModel_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MultiModel"
               edithelper="edu.toronto.cs.se.mmtf.mid.diagram.edit.helpers.MultiModelEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID">
         <metamodelType
               id="edu.toronto.cs.se.mmtf.diagram.Model_2011"
               name="%metatype.name.Model_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Model"
               edithelper="edu.toronto.cs.se.mmtf.mid.diagram.edit.helpers.ModelEditHelper">
            <param name="semanticHint" value="2011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID">
         <specializationType
               id="edu.toronto.cs.se.mmtf.diagram.Model_2012"
               name="%metatype.name.Model_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.se.mmtf.diagram.Model_2011"/>
            <param name="semanticHint" value="2012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID/Relationship">
         <metamodelType
               id="edu.toronto.cs.se.mmtf.diagram.ModelRel_2013"
               name="%metatype.name.ModelRel_2013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ModelRel"
               edithelper="edu.toronto.cs.se.mmtf.mid.diagram.edit.helpers.ModelRelEditHelper">
            <param name="semanticHint" value="2013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID/Relationship">
         <specializationType
               id="edu.toronto.cs.se.mmtf.diagram.ModelRel_2014"
               name="%metatype.name.ModelRel_2014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.se.mmtf.diagram.ModelRel_2013"/>
            <param name="semanticHint" value="2014"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID/Operator">
         <metamodelType
               id="edu.toronto.cs.se.mmtf.diagram.Operator_2015"
               name="%metatype.name.Operator_2015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Operator"
               edithelper="edu.toronto.cs.se.mmtf.mid.diagram.edit.helpers.OperatorEditHelper">
            <param name="semanticHint" value="2015"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID">
         <specializationType
               id="edu.toronto.cs.se.mmtf.diagram.ExtendibleElementSupertype_4013"
               name="%metatype.name.ExtendibleElementSupertype_4013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4013"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID">
         <metamodelType
               id="edu.toronto.cs.se.mmtf.diagram.ModelEndpoint_4014"
               name="%metatype.name.ModelEndpoint_4014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ModelEndpoint"
               edithelper="edu.toronto.cs.se.mmtf.mid.diagram.edit.helpers.ModelEndpointEditHelper">
            <param name="semanticHint" value="4014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID/Relationship">
         <metamodelType
               id="edu.toronto.cs.se.mmtf.diagram.BinaryModelRel_4015"
               name="%metatype.name.BinaryModelRel_4015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BinaryModelRel"
               edithelper="edu.toronto.cs.se.mmtf.mid.diagram.edit.helpers.BinaryModelRelEditHelper">
            <param name="semanticHint" value="4015"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID/Operator">
         <metamodelType
               id="edu.toronto.cs.se.mmtf.diagram.Parameter_4016"
               name="%metatype.name.Parameter_4016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Parameter"
               edithelper="edu.toronto.cs.se.mmtf.mid.diagram.edit.helpers.ParameterEditHelper">
            <param name="semanticHint" value="4016"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://se.cs.toronto.edu/mmtf/MID/Operator">
         <specializationType
               id="edu.toronto.cs.se.mmtf.diagram.Parameter_4017"
               name="%metatype.name.Parameter_4017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.se.mmtf.diagram.Parameter_4016"/>
            <param name="semanticHint" value="4017"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="edu.toronto.cs.se.mmtf.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="edu.toronto.cs.se.mmtf.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="edu.toronto.cs.se.mmtf.diagram.TypeContext">
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.MultiModel_1000"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.Model_2011"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.Model_2012"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.ModelRel_2013"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.ModelRel_2014"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.Operator_2015"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.ExtendibleElementSupertype_4013"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.ModelEndpoint_4014"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.BinaryModelRel_4015"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.Parameter_4016"/>
         <elementType ref="edu.toronto.cs.se.mmtf.diagram.Parameter_4017"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.toronto.cs.se.mmtf.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="edu.toronto.cs.se.mmtf.diagram"
           properties="isURIEditorInput"
           class="edu.toronto.cs.se.mmtf.mid.diagram.part.MidUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.toronto.cs.se.mmtf.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="edu.toronto.cs.se.mmtf.diagram"
           properties="isShortcut"
           class="edu.toronto.cs.se.mmtf.mid.diagram.part.MidShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="edu.toronto.cs.se.mmtf.diagram.resourceContent"/>
			<contentExtension pattern="edu.toronto.cs.se.mmtf.diagram.domainResourceContent"/>
            <contentExtension pattern="edu.toronto.cs.se.mmtf.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="edu.toronto.cs.se.mmtf.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="edu.toronto.cs.se.mmtf.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidNavigatorContentProvider" 
            labelProvider="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidNavigatorLabelProvider"
            icon="icons/obj16/MidDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="middiag"/>
               </and>
               <instanceof value="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.toronto.cs.se.mmtf.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.toronto.cs.se.mmtf.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="edu.toronto.cs.se.mmtf.diagram.navigatorSorter" 
               class="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="middiag"/>
                  </and>
                  <instanceof value="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="edu.toronto.cs.se.mmtf.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidDomainNavigatorContentProvider" 
            labelProvider="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidDomainNavigatorLabelProvider"
            icon="icons/obj16/MidDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mid"/>
               </and>
               <instanceof value="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="edu.toronto.cs.se.mmtf.diagram.navigatorActionProvider"
            class="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.toronto.cs.se.mmtf.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="edu.toronto.cs.se.mmtf.diagram.navigatorLinkHelper"
            class="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="edu.toronto.cs.se.mmtf.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="edu.toronto.cs.se.mmtf.mid.diagram.navigator.MidAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <?gmfgen generated="true"?>
            <category id="ModelValidationContainer" mandatory="false" name="ModelValidationContainer">
         <![CDATA[Model validation container]]>
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://se.cs.toronto.edu/mmtf/MID"/>
               <constraints categories="ModelValidationContainer">
                  <constraint id="ModelValidationRule"
            lang="Java" class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidValidationProvider$Adapter1"
            name="ModelValidationRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[Model validation rule]]></description>
            <message><![CDATA[Model{0} {1} is not of type {2}]]></message>
            <target class="mid.Model"/>
         </constraint>
                  </constraints>
      </constraintProvider>
   </extension>

   <extension point="org.eclipse.emf.validation.constraintBindings">
      <?gmfgen generated="true"?>
      <clientContext default="false" id="edu.toronto.cs.se.mmtf.diagramDefaultCtx">
         <selector class="edu.toronto.cs.se.mmtf.mid.diagram.providers.MidValidationProvider$DefaultCtx"/>
      </clientContext>
      <binding context="edu.toronto.cs.se.mmtf.diagramDefaultCtx">
                  <constraint ref="edu.toronto.cs.se.mmtf.diagram.ModelValidationRule"/>
               </binding>

   </extension>


   <extension point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <?gmfgen generated="true"?>
      <clientContext id="edu.toronto.cs.se.mmtf.diagramDefaultCtx"/>
   </extension>

   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramUpdateCommand"
         description="%update.diagram.description"
         id="edu.toronto.cs.se.mmtf.mid.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="edu.toronto.cs.se.mmtf.mid.diagram.updateDiagram"
         contextId="edu.toronto.cs.se.mmtf.mid.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="edu.toronto.cs.se.mmtf.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="edu.toronto.cs.se.mmtf.mid.diagram.edit.parts.MultiModelEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="edu.toronto.cs.se.mmtf.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID"
         defaultHandler="edu.toronto.cs.se.mmtf.mid.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <dynamic
               class="edu.toronto.cs.se.mmtf.mid.diagram.contextmenu.MMTFActions"
               id="edu.toronto.cs.se.mmtf.mid.diagram.contextmenu.MMTFActions">
            <visibleWhen>
               <with variable="activePartId">
                  <equals value="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID"/>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="edu.toronto.cs.se.mmtf.mid.diagram.menu.MMTF"
               label="MMTF">
            <command
                  commandId="edu.toronto.cs.se.mmtf.mid.diagram.menu.OpenTypeMidHandler"
                  label="Open Type MID"
                  style="push"
                  tooltip="Opens the Type MID showing all MMTF registered types">
            </command>
            <command
                  commandId="edu.toronto.cs.se.mmtf.mid.diagram.menu.OpenMMTFWikiHandler"
                  label="Open MMTF Wiki"
                  style="push"
                  tooltip="Opens the MMTF Wiki">
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.toronto.cs.se.mmtf.mid.diagram.menu.OpenTypeMidHandler"
            id="edu.toronto.cs.se.mmtf.mid.diagram.menu.OpenTypeMidHandler"
            name="Open Type MID">
      </command>
      <command
            defaultHandler="edu.toronto.cs.se.mmtf.mid.diagram.menu.OpenMMTFWikiHandler"
            id="edu.toronto.cs.se.mmtf.mid.diagram.menu.OpenMMTFWikiHandler"
            name="Open MMTF Wiki">
      </command>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/mmtf/MID"
            id="edu.toronto.cs.se.mmtf.mid.diagram.part.MidDiagramEditorID"
            isDiagram="true"
            wizardId="edu.toronto.cs.se.mmtf.mid.diagram.part.MidCreationWizardID">
         <extendibleType
               name="MID diagram"
               uri="http://se.cs.toronto.edu/mmtf/MID_diagram">
         </extendibleType>
      </editorType>
   </extension>

</plugin>
