<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Vivien Suen.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension
         name="ModelTypeToRandomModel"
         point="edu.toronto.cs.se.mmtf.operators">
      <operator
            class="edu.toronto.cs.se.modelepedia.randommodel.operator.ModelTypeToRandomModel"
            isConversion="true">
         <extendibleElement
               uri="http://se.cs.toronto.edu/modelepedia/randommodel/operator/ModelTypeToRandomModel">
         </extendibleElement>
         <input>
            <parameter
                  isVararg="false"
                  name="modelType"
                  modelTypeUri="http://se.cs.toronto.edu/mmtf/Model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="randomModelTypeGraph"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/randommodel">
            </parameter>
         </output>
      </operator>
   </extension>

   <extension
         name="RandomModelGenerate"
         point="edu.toronto.cs.se.mmtf.operators">
      <operator
            class="edu.toronto.cs.se.modelepedia.randommodel.operator.RandomModelGenerate"
            isConversion="false">
         <extendibleElement
               uri="http://se.cs.toronto.edu/modelepedia/randommodel/operator/RandomModelGenerate">
         </extendibleElement>
         <input>
            <parameter
                  isVararg="false"
                  name="randomModelTypeGraph"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/randommodel">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="randomModel"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/randommodel">
            </parameter>
         </output>
      </operator>
   </extension>

</plugin>
