<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated impact -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.nlsfung.impact.presentation.ImpactAssessmentModelWizardID"
            name="%_UI_ImpactAssessmentModelWizard_label"
            class="edu.toronto.cs.nlsfung.impact.presentation.ImpactAssessmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ImpactAssessmentModelFile.gif">
         <description>%_UI_ImpactAssessmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated impact -->
      <editor
            id="edu.toronto.cs.nlsfung.impact.presentation.ImpactAssessmentEditorID"
            name="%_UI_ImpactAssessmentEditor_label"
            icon="icons/full/obj16/ImpactAssessmentModelFile.gif"
            extensions="impactassessment"
            class="edu.toronto.cs.nlsfung.impact.presentation.ImpactAssessmentEditor"
            contributorClass="edu.toronto.cs.nlsfung.impact.presentation.ImpactAssessmentActionBarContributor">
      </editor>
   </extension>
   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="edu.toronto.cs.nlsfung.impact.presentation.ImpactAssessmentEditorID"
            modelTypeUri="http://www.cs.toronto.edu/~nlsfung/impact"
            wizardId="edu.toronto.cs.nlsfung.impact.presentation.ImpactAssessmentModelWizardID">
         <type
               name="Impact Assessment Editor"
               uri="http://www.cs.toronto.edu/~nlsfung/impact/editor">
         </type>
      </editorType>
   </extension>

</plugin>
