<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2013 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType>
         <extendibleType
               name="UML"
               uri="http://www.eclipse.org/uml2/4.0.0/UML">
         </extendibleType>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <extendibleType
               name="UML tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <extendibleType
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_diagram">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="true">
         <extendibleType
               name="UMLClassDiagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML">
            </superType>
         </extendibleType>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLClassDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <extendibleType
               name="UMLClassDiagram tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <extendibleType
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_diagram">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="true">
         <extendibleType
               name="UMLComponentDiagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML">
            </superType>
         </extendibleType>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLComponentDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <extendibleType
               name="UMLComponentDiagram tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <extendibleType
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_diagram">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="true">
         <extendibleType
               name="UMLDeploymentDiagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML">
            </superType>
         </extendibleType>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLDeploymentDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <extendibleType
               name="UMLDeploymentDiagram tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <extendibleType
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_diagram">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.relationships">
      <relationshipType>
         <modelType>
            <extendibleType
                  name="UMLComponentDeploymentRel"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel">
            </extendibleType>
         </modelType>
         <modelTypeEndpoint>
            <extendibleType
                  name="UMLComponentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel-UMLComponentDiagram/UMLComponentEndpoint">
            </extendibleType>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram">
            </typeEndpoint>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Usage">
                <extendibleType
                     name="Usage"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram/Usage">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Component">
                <extendibleType
                     name="Component"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram/Component">
                </extendibleType>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <extendibleType
                  name="UMLDeploymentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel-UMLDeploymentDiagram/UMLDeploymentEndpoint">
            </extendibleType>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram">
            </typeEndpoint>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Node">
                <extendibleType
                     name="Node"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram/Node">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Device">
                <extendibleType
                     name="Device"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram/Device">
                   <superType
                         uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram/Node">
                   </superType>
                </extendibleType>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <extendibleType
                  name="ComponentDeviceLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="ComponentEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink-Component/ComponentEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram/Component">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="DeviceEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink-Device/DeviceEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram/Device">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <extendibleType
                  name="UsageNodeLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="UsageEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink-Usage/UsageEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO/Usage">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="NodeEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink-Node/NodeEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram/Node">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <!-- MAVO versions-->

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="true">
         <extendibleType
               name="UML_MAVO"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO">
            <superType
                  uri="http://se.cs.toronto.edu/mmtf/MAVO">
            </superType>
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML">
            </superType>
         </extendibleType>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <extendibleType
               name="UML_MAVO tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <extendibleType
               name="UML_MAVO diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO_diagram">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="true">
         <extendibleType
               name="UMLClassDiagram_MAVO"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO">
            </superType>
         </extendibleType>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLClassDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <extendibleType
               name="UMLClassDiagram_MAVO tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <extendibleType
               name="UMLClassDiagram_MAVO diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO_diagram">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="true">
         <extendibleType
               name="UMLComponentDiagram_MAVO"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO">
            </superType>
         </extendibleType>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLComponentDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <extendibleType
               name="UMLComponentDiagram_MAVO tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <extendibleType
               name="UMLComponentDiagram_MAVO diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO_diagram">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            isAbstract="true">
         <extendibleType
               name="UMLDeploymentDiagram_MAVO"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO">
            </superType>
         </extendibleType>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLDeploymentDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <extendibleType
               name="UMLDeploymentDiagram_MAVO tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <extendibleType
               name="UMLDeploymentDiagram_MAVO diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO_diagram">
         </extendibleType>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.relationships">
      <relationshipType>
         <modelType>
            <extendibleType
                  name="UMLComponentDeploymentRel_MAVO"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO">
            </extendibleType>
         </modelType>
         <modelTypeEndpoint>
            <extendibleType
                  name="UMLComponentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO-UMLComponentDiagram_MAVO/UMLComponentEndpoint">
            </extendibleType>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO">
            </typeEndpoint>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Usage">
                <extendibleType
                     name="Usage"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO/Usage">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Component">
                <extendibleType
                     name="Component"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO/Component">
                </extendibleType>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <extendibleType
                  name="UMLDeploymentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO-UMLDeploymentDiagram_MAVO/UMLDeploymentEndpoint">
            </extendibleType>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO">
            </typeEndpoint>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Node">
                <extendibleType
                     name="Node"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO/Node">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="ENTITY"
                  classLiteral="Device">
                <extendibleType
                     name="Device"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO/Device">
                   <superType
                         uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO/Node">
                   </superType>
                </extendibleType>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <extendibleType
                  name="ComponentDeviceLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/ComponentDeviceLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="ComponentEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/ComponentDeviceLink-Component/ComponentEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO/Component">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="DeviceEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/ComponentDeviceLink-Device/DeviceEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO/Device">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <extendibleType
                  name="UsageNodeLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/UsageNodeLink">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="UsageEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/UsageNodeLink-Usage/UsageEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO/Usage">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="NodeEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/UsageNodeLink-Node/NodeEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO/Node">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

</plugin>
