<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2024 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ModelDifference"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ModelDifference"
               class="edu.toronto.cs.se.modelepedia.operator.diff.ModelDifference">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="diff">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="BinaryModelRelInversion"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_BinaryModelRelInversion"
               class="edu.toronto.cs.se.modelepedia.operator.patch.BinaryModelRelInversion">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="rel">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="inverted">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ModelRelTypeTransformation"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ModelRelTypeTransformation"
               class="edu.toronto.cs.se.modelepedia.operator.patch.ModelRelTypeTransformation">
         </type>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.operator.patch.ModelRelTypeTransformation$OperatorConstraint"
               language="Java">
         </constraint>
         <generics>
            <parameter>
	           <type
	                 name="MR">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </generics>
         <inputs>
            <parameter>
	           <type
	                 name="src">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="tgt">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="trace">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sum"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_Sum"
               class="edu.toronto.cs.se.modelepedia.operator.merge.Sum">
         </type>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.operator.merge.Sum$OperatorConstraint"
               language="Java">
         </constraint>
         <inputs>
            <parameter>
	           <type
	                 name="int1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Int">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="int2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Int">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="sum">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Int">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Capitalize"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_Capitalize"
               class="edu.toronto.cs.se.modelepedia.operator.patch.Capitalize">
         </type>
         <inputs>
            <parameter>
             <type
                   name="lower">
             </type>
             <typeEndpoint
                   targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
             </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
             <type
                   name="upper">
             </type>
             <typeEndpoint
                   targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
             </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

</plugin>
