<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="iso26262.Iso26262" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:iso26262.Iso26262" id="iso26262.Iso26262">
      <query-specification fqn="iso26262.b"/>
      <query-specification fqn="iso26262.queryC_QM"/>
      <query-specification fqn="iso26262.queryC_A"/>
      <query-specification fqn="iso26262.queryC_B"/>
      <query-specification fqn="iso26262.queryC_C"/>
      <query-specification fqn="iso26262.queryC_D"/>
      <query-specification fqn="iso26262.c"/>
    </group>
  </extension>
</plugin>
