<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="jase20.Iso26262" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:jase20.Iso26262" id="jase20.Iso26262">
      <query-specification fqn="jase20.b"/>
      <query-specification fqn="jase20.queryC_QM"/>
      <query-specification fqn="jase20.queryC_A"/>
      <query-specification fqn="jase20.queryC_B"/>
      <query-specification fqn="jase20.queryC_C"/>
      <query-specification fqn="jase20.queryC_D"/>
      <query-specification fqn="jase20.c"/>
      <query-specification fqn="jase20.d"/>
      <query-specification fqn="jase20.e_asil"/>
      <query-specification fqn="jase20.e"/>
    </group>
  </extension>
  <extension id="jase20.Scenarios" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:jase20.Scenarios" id="jase20.Scenarios">
      <query-specification fqn="jase20.alarmClasses"/>
      <query-specification fqn="jase20.turnOffFunctions"/>
      <query-specification fqn="jase20.asilBConnectedModelElems"/>
      <query-specification fqn="jase20.highlyConnectedModelElems"/>
    </group>
  </extension>
  <extension id="library.MID" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:library.MID" id="library.MID">
      <query-specification fqn="library.connectedModelElems"/>
      <query-specification fqn="library.allConnectedModelElems"/>
    </group>
  </extension>
  <extension id="mase19.Scenarios" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:mase19.Scenarios" id="mase19.Scenarios">
      <query-specification fqn="mase19.alarmClasses"/>
      <query-specification fqn="mase19.turnOffFunctions"/>
      <query-specification fqn="mase19.asilBConnectedModelElems"/>
      <query-specification fqn="mase19.highlyConnectedModelElems"/>
    </group>
  </extension>
</plugin>
