<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Vivien Suen.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro, Vivien Suen - Implementation.
-->

<plugin>

   <extension-point id="edu.toronto.cs.se.mmtf.models" name="MMTF model types" schema="schema/edu.toronto.cs.se.mmtf.models.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.relationships" name="MMTF model relationship types" schema="schema/edu.toronto.cs.se.mmtf.relationships.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.editors" name="MMTF editor types" schema="schema/edu.toronto.cs.se.mmtf.editors.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.operators" name="MMTF operator types" schema="schema/edu.toronto.cs.se.mmtf.operators.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/Model"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType>
         <extendibleType
               name="Model"
               uri="http://se.cs.toronto.edu/mmtf/Model">
         </extendibleType>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/ModelRel"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.relationships">
      <relationshipType>
         <modelType>
            <extendibleType
                  name="ModelRel"
                  uri="http://se.cs.toronto.edu/mmtf/ModelRel"
                  supertypeUri="http://se.cs.toronto.edu/mmtf/Model">
            </extendibleType>
         </modelType>
         <modelTypeEndpoint>
            <extendibleType
                  name="ModelEndpoint"
                  uri="http://se.cs.toronto.edu/mmtf/ModelRel-Model/ModelEndpoint">
            </extendibleType>
            <typeEndpoint
                  lowerBound="0"
                  upperBound="-1"
                  targetTypeUri="http://se.cs.toronto.edu/mmtf/Model">
            </typeEndpoint>
            <modelElemType
                  category="ENTITY"
                  classLiteral="ModelElementEntityWildcard">
                <extendibleType
                     name="EntityElem"
                     uri="http://se.cs.toronto.edu/mmtf/Model/EntityElem">
                </extendibleType>
            </modelElemType>
            <modelElemType
                  category="RELATIONSHIP"
                  classLiteral="ModelElementEntityWildcard/modelElementRelationshipWildcard">
                <extendibleType
                     name="RelElem"
                     uri="http://se.cs.toronto.edu/mmtf/Model/RelElem">
                </extendibleType>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <extendibleType
                  name="Link"
                  uri="http://se.cs.toronto.edu/mmtf/ModelRel/Link">
            </extendibleType>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="EntityElemEndpoint"
                     uri="http://se.cs.toronto.edu/mmtf/ModelRel/Link-EntityElem/EntityElemEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/mmtf/Model/EntityElem">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <extendibleType
                     name="RelElemEndpoint"
                     uri="http://se.cs.toronto.edu/mmtf/ModelRel/Link-RelElem/RelElemEndpoint">
               </extendibleType>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/mmtf/Model/RelElem">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/MAVO"
            class="edu.toronto.cs.se.mmtf.mavo.MavoPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/MID"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType>
         <extendibleType
               name="MID"
               uri="http://se.cs.toronto.edu/mmtf/MID">
         </extendibleType>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/MID/Relationship"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType>
         <extendibleType
               name="Relationship"
               uri="http://se.cs.toronto.edu/mmtf/MID/Relationship">
         </extendibleType>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/MID/Editor"
            class="edu.toronto.cs.se.mmtf.mid.editor.EditorPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/mmtf/MID/Operator"
            class="edu.toronto.cs.se.mmtf.mid.operator.OperatorPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType>
         <extendibleType
               name="Ecore"
               uri="http://www.eclipse.org/emf/2002/Ecore">
         </extendibleType>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/emf/2002/Ecore"
            id="org.eclipse.emf.ecore.presentation.EcoreEditorID"
            isDiagram="false"
            wizardId="org.eclipse.emf.ecore.presentation.EcoreModelWizardID">
         <extendibleType
               name="Ecore tree"
               uri="http://www.eclipse.org/emf/2002/Ecore_tree">
         </extendibleType>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/emf/2002/Ecore"
            id="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditorID"
            isDiagram="true"
            wizardId="org.eclipse.emf.ecoretools.diagram.part.EcoreCreationWizardID">
         <extendibleType
               name="Ecore diagram"
               uri="http://www.eclipse.org/emf/2002/Ecore_diagram">
         </extendibleType>
      </editorType>
   </extension>

</plugin>
