<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2014 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/Border"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType
               isAbstract="false">
            <type
                  name="Border"
                  uri="http://se.cs.toronto.edu/modelepedia/Border">
            </type>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="StateEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/Border-State/StateEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="2"
                  upperBound="-1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/State">
            </typeEndpoint>
            <modelElemType>
               <type
                     name="Region"
                     uri="http://se.cs.toronto.edu/modelepedia/State#//Region">
               </type>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <type
                  name="RegionBorder"
                  uri="http://se.cs.toronto.edu/modelepedia/Border/RegionBorder">
            </type>
            <modelElemTypeEndpoint>
               <type
                     name="RegionEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/Border/RegionBorder-Region/RegionEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="2"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/State#//Region">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/Deployed"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType
               isAbstract="false">
            <type
                  name="Deployed"
                  uri="http://se.cs.toronto.edu/modelepedia/Deployed">
            </type>
         </modelType>
         <binaryType
               sourceTypeUri="http://se.cs.toronto.edu/modelepedia/Army"
               targetTypeUri="http://se.cs.toronto.edu/modelepedia/State">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="ArmyEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/Deployed-Army/ArmyEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="-1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/Army">
            </typeEndpoint>
            <modelElemType>
               <type
                     name="Unit"
                     uri="http://se.cs.toronto.edu/modelepedia/Army#//Unit">
               </type>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="StateEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/Deployed-State/StateEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/State">
            </typeEndpoint>
            <modelElemType>
               <type
                     name="Region"
                     uri="http://se.cs.toronto.edu/modelepedia/State#//Region">
               </type>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <type
                  name="DeployedLink"
                  uri="http://se.cs.toronto.edu/modelepedia/Deployed/DeployedLink">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/Army#//Unit"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/State#//Region">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="UnitEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/Deployed/DeployedLink-Unit/UnitEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/Army#//Unit">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="RegionEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/Deployed/DeployedLink-Region/RegionEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/State#//Region">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/Has"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType
               isAbstract="false">
            <type
                  name="Has"
                  uri="http://se.cs.toronto.edu/modelepedia/Has">
            </type>
         </modelType>
         <binaryType
               sourceTypeUri="http://se.cs.toronto.edu/modelepedia/State"
               targetTypeUri="http://se.cs.toronto.edu/modelepedia/Economy">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="StateEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/Has-State/StateEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/State">
            </typeEndpoint>
            <modelElemType>
               <type
                     name="Region"
                     uri="http://se.cs.toronto.edu/modelepedia/State#//Region">
               </type>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="EconomyEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/Has-Economy/EconomyEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/Economy">
            </typeEndpoint>
            <modelElemType>
               <type
                     name="Gold"
                     uri="http://se.cs.toronto.edu/modelepedia/Economy#//Gold">
               </type>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <type
                  name="HasLink"
                  uri="http://se.cs.toronto.edu/modelepedia/Has/HasLink">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/State#//Region"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/Economy#//Gold">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="RegionEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/Has/HasLink-Region/RegionEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/State#//Region">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="GoldEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/Has/HasLink-Gold/GoldEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/Economy#//Gold">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="StateToArmy"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_StateToArmy"
               class="edu.toronto.cs.se.modelepedia.tutorial.operator.StateToArmy">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="state"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/State">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="army"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/Army">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="StateToEconomy"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_StateToEconomy"
               class="edu.toronto.cs.se.modelepedia.tutorial.operator.StateToEconomy">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="state"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/State">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="economy"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/Economy">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="EconomyToArmy"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_EconomyToArmy"
               class="edu.toronto.cs.se.modelepedia.tutorial.operator.EconomyToArmy">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="economy"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/Economy">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="army"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/Army">
            </parameter>
         </output>
      </operatorType>
   </extension>

</plugin>
