<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2016 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kleisli -->
      <package
            uri="http://se.cs.toronto.edu/modelepedia/KleisliModelRel"
            class="edu.toronto.cs.se.modelepedia.kleisli.KleisliPackage"
            genModel="model/kleisli.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="KleisliModelRel"
                  uri="http://se.cs.toronto.edu/modelepedia/KleisliModelRel"
                  class="edu.toronto.cs.se.modelepedia.kleisli.library.KleisliMIDHeavyTypeFactory"
                  isAbstract="true">
            </type>
            <constraint
                  implementation="edu.toronto.cs.se.modelepedia.kleisli.constraint.KleisliModelRelTypeConstraint"
                  language="JAVA">
            </constraint>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="KleisliModelEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/KleisliModelRel-Model/KleisliModelEndpoint"
                  class="edu.toronto.cs.se.modelepedia.kleisli.library.KleisliMIDHeavyTypeFactory">
            </type>
            <typeEndpoint
                  lowerBound="0"
                  upperBound="-1"
                  targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </typeEndpoint>
         </modelTypeEndpoint>
      </relationshipType>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <dynamic
               class="edu.toronto.cs.se.modelepedia.kleisli.contextmenu.KleisliRelationshipDiagramContextMenu"
               id="edu.toronto.cs.se.modelepedia.kleisli.contextmenu.KleisliRelationshipDiagramActions">
            <visibleWhen>
               <with variable="activePartId">
                  <equals value="edu.toronto.cs.se.mmint.mid.relationship.diagram.part.RelationshipDiagramEditorID"/>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="KleisliModelRelTypeTransformation"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_KleisliModelRelTypeTransformation"
               class="edu.toronto.cs.se.modelepedia.kleisli.transformation.KleisliModelRelTypeTransformation">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_ModelRelTypeTransformation">
            </superType>
         </type>
         <generics>
            <parameter>
	           <type
	                 name="KMR">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/KleisliModelRel">
	           </typeEndpoint>
            </parameter>
         </generics>
         <inputs>
            <parameter>
	           <type
	                 name="src">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="tgt">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="trace">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/KleisliModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.reasoners">
      <reasoner
            class="edu.toronto.cs.se.modelepedia.kleisli.reasoning.KleisliReasoningEngine"
            name="Kleisli Query Language">
         <language
               id="KLEISLI">
         </language>
      </reasoner>
   </extension>

</plugin>
