<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2021 Alessio Di Sandro, Marsha Chechik, Nick Fung.
 All rights reserved. This program and the accompanying materials are made available under the terms
 of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Alessio Di Sandro - Implementation.
   Nick Fung - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gsn -->
      <package
            uri="http://se.cs.toronto.edu/modelepedia/GSN"
            class="edu.toronto.cs.se.modelepedia.gsn.GSNPackage"
            genModel="model/gsn.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="GSN"
               uri="http://se.cs.toronto.edu/modelepedia/GSN">
         </type>
      </modelType>
   </extension>

</plugin>
