<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2015 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/CDPublicAttributes"
            class="edu.toronto.cs.se.modelepedia.classdiagram.ClassDiagramPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="CDPublicAttributes"
               uri="http://se.cs.toronto.edu/modelepedia/CDPublicAttributes">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
            </superType>
         </type>
         <constraint
               implementation="Attribute.allInstances()-&gt;exists(attribute | attribute.public)"
               language="OCL">
         </constraint>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/CDNoPublicAttributes"
            class="edu.toronto.cs.se.modelepedia.classdiagram.ClassDiagramPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="CDNoPublicAttributes"
               uri="http://se.cs.toronto.edu/modelepedia/CDNoPublicAttributes">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
            </superType>
         </type>
         <constraint
               implementation="not Attribute.allInstances()-&gt;exists(attribute | attribute.public)"
               language="OCL">
         </constraint>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/CD2DB"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="CD2DB"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2DB">
            </type>
         </modelType>
         <binaryType
               sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram"
               targetTypeUri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="CD"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2DB-ClassDiagram/CD">
            </type>
            <typeEndpoint
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="ClassDiagram"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//ClassDiagram">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Class"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//Class">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="NamedElement[name]"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//NamedElement/name">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="DB"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2DB-RelationalDatabase/DB">
            </type>
            <typeEndpoint
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="RelationalDatabase"
                     uri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//RelationalDatabase">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Table"
                     uri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//Table">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="NamedElement[name]"
                     uri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//NamedElement/name">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <type
                  name="ClassDiagram2RelationalDatabase"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2DB/ClassDiagram2RelationalDatabase">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//ClassDiagram"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//RelationalDatabase">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="ClassDiagram"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2DB/ClassDiagram2RelationalDatabase-ClassDiagram/ClassDiagram">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//ClassDiagram">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="RelationalDatabase"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2DB/ClassDiagram2RelationalDatabase-RelationalDatabase/RelationalDatabase">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//RelationalDatabase">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <type
                  name="Class2Table"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2DB/Class2Table">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//Class"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//RelationalDatabase">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="Class"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2DB/Class2Table-Class/Class">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//Class">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="Table"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2DB/Class2Table-Table/Table">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//Table">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <type
                  name="name2name"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2DB/name2name">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//NamedElement/name"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//NamedElement/name">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="CDname"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2DB/name2name-NamedElement[name]/CDname">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//NamedElement/name">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="DBname"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2DB/name2name-NamedElement[name]/DBname">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/RelationalDatabase#//NamedElement/name">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="MODELS15"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MODELS15"
               class="edu.toronto.cs.se.modelepedia.models15.operator.MODELS15">
         </type>
         <outputs>
            <parameter>
	           <type
	                 name="mid">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MID">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/CD2Java"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="CD2Java"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2Java">
            </type>
         </modelType>
         <binaryType
               sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram"
               targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="CD"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2Java-ClassDiagram/CD">
            </type>
            <typeEndpoint
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="ClassDiagram"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//ClassDiagram">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Class"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//Class">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="NamedElement[name]"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//NamedElement/name">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="Java"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2Java-MODELS15_Java/Java">
            </type>
            <typeEndpoint
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Package"
                     uri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//Package">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Class"
                     uri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//Class">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="NamedElement[name]"
                     uri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//NamedElement/name">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <type
                  name="ClassDiagram2Package"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2Java/ClassDiagram2Package">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//ClassDiagram"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//Package">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="ClassDiagram"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2Java/ClassDiagram2Package-ClassDiagram/ClassDiagram">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//ClassDiagram">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="Package"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2Java/ClassDiagram2Package-Package/Package">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//Package">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <type
                  name="Class2Class"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2Java/Class2Class">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//Class"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//Class">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="CDClass"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2Java/Class2Class-Class/CDClass">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//Class">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="JavaClass"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2Java/Class2Class-Class/JavaClass">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//Class">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <type
                  name="name2name"
                  uri="http://se.cs.toronto.edu/modelepedia/CD2Java/name2name">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//NamedElement/name"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//NamedElement/name">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="CDname"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2Java/name2name-NamedElement[name]/CDname">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram#//NamedElement/name">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="Javaname"
                     uri="http://se.cs.toronto.edu/modelepedia/CD2Java/name2name-NamedElement[name]/Javaname">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java#//NamedElement/name">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="CD2JavaCheck"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_CD2JavaCheck"
               class="edu.toronto.cs.se.modelepedia.models15.operator.CD2JavaCheck">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="cd2java">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/CD2Java">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="check">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/Int">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="CD2Java"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_CD2Java"
               class="edu.toronto.cs.se.modelepedia.models15.operator.CD2Java">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="cd">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="java">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/MODELS15_Java">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <!-- empty stuff for screenshots
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/CDRel"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="CDRel"
                  uri="http://se.cs.toronto.edu/modelepedia/CDRel">
            </type>
         </modelType>
         <binaryType
               sourceTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram"
               targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="CDsrc"
                  uri="http://se.cs.toronto.edu/modelepedia/CDRel-ClassDiagram/CDsrc">
            </type>
            <typeEndpoint
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
            </typeEndpoint>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="CDtgt"
                  uri="http://se.cs.toronto.edu/modelepedia/CDRel-ClassDiagram/CDtgt">
            </type>
            <typeEndpoint
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
            </typeEndpoint>
         </modelTypeEndpoint>
      </relationshipType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="CDMatch"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_CDMatch"
               class="edu.toronto.cs.se.modelepedia.models15.operator.MODELS15">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="cd1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="cd2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/CDRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="CDMerge"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_CDMerge"
               class="edu.toronto.cs.se.modelepedia.models15.operator.MODELS15">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/CDRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="merged">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="trace1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/CDRel">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="trace2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/CDRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="CDRelComposition"
               uri="http://se.cs.toronto.edu/mmint/Operator_CDRelComposition"
               class="edu.toronto.cs.se.modelepedia.models15.operator.MODELS15">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="rel1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/CDRel">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="rel2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/CDRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="composition">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/modelepedia/CDRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>
   -->

</plugin>
