<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
    Copyright (c) 2022, 2024 Alessio Di Sandro.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Alessio Di Sandro - Implementation
 -->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category id="edu.toronto.cs.se.mmint.example"
            name="MMINT Examples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard id="edu.toronto.cs.se.mmint.examples.vamos23"
            category="org.eclipse.ui.Examples/edu.toronto.cs.se.mmint.example"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            project="true"
            name="VAMOS23">
         <description>Creates a project containing the artifacts from the VAMOS23 paper</description>
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.common.ui.examples">
      <example id="edu.toronto.cs.se.mmint.examples.vamos23"
            wizardID="edu.toronto.cs.se.mmint.examples.vamos23">
         <projectDescriptor name="VAMOS23"
               contentURI="VAMOS23/"
               description="Creates a project containing the artifacts from the VAMOS23 paper"/>
         <fileToOpen location="VAMOS23/README.md"/>
      </example>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToProductLine"
               uri="edu.toronto.cs.se.mmint.examples.vamos23.operators.CDMAVOToCDProductLine"
               class="edu.toronto.cs.se.mmint.examples.vamos23.operators.CDMAVOToCDProductLine">
            <superType
                  uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="product"
                     uri="edu.toronto.cs.se.mmint.examples.vamos23.operators.CDMAVOToCDProductLine/product">
                  <superType
                        uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine/product">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="productLine"
                     uri="edu.toronto.cs.se.mmint.examples.vamos23.operators.CDMAVOToCDProductLine/productLine">
                  <superType
                        uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine/productLine">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="model://edu.toronto.cs.se.mmint.productline">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToProductLine"
               uri="edu.toronto.cs.se.mmint.examples.vamos23.operators.AnnotatedEcoreToCDProductLine"
               class="edu.toronto.cs.se.mmint.examples.vamos23.operators.AnnotatedEcoreToCDProductLine">
            <superType
                  uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="product"
                     uri="edu.toronto.cs.se.mmint.examples.vamos23.operators.AnnotatedEcoreToCDProductLine/product">
                  <superType
                        uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine/product">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://www.eclipse.org/emf/2002/Ecore">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="productLine"
                     uri="edu.toronto.cs.se.mmint.examples.vamos23.operators.AnnotatedEcoreToCDProductLine/productLine">
                  <superType
                        uri="edu.toronto.cs.se.mmint.productline.operators.ToProductLine/productLine">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="model://edu.toronto.cs.se.mmint.productline">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="VAMOS23"
               uri="edu.toronto.cs.se.mmint.examples.vamos23.operators.VAMOS23"
               class="edu.toronto.cs.se.mmint.examples.vamos23.operators.VAMOS23">
         </type>
         <inputs>
            <parameter>
               <type
                     name="model"
                     uri="edu.toronto.cs.se.mmint.examples.vamos23.operators.VAMOS23/model">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

</plugin>
