<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2020 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO"
            class="edu.toronto.cs.se.modelepedia.istar_mavo.IStar_MAVOPackage"
            genModel="model/istar_mavo.genmodel"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="IStar_MAVO"
               uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO"
               class="edu.toronto.cs.se.mmint.mavo.library.MAVOMIDHeavyTypeFactory">
            <superType
                  uri="http://se.cs.toronto.edu/MAVO">
            </superType>
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="IStarCDRel"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel"
                  class="edu.toronto.cs.se.mmint.mavo.library.MAVOMIDHeavyTypeFactory">
            </type>
               <superType
                     uri="http://se.cs.toronto.edu/mmint/MAVOModelRel">
               </superType>
         </modelType>
         <binaryType
               sourceTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO"
               targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="IStarEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel-IStar_MAVO/IStarEndpoint">
            </type>
            <typeEndpoint
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Actor"
                     uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Actor">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Task"
                     uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Task">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Goal"
                     uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Goal">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Resource"
                     uri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Resource">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="ClassDiagramEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel-ClassDiagram_MAVO/ClassDiagramEndpoint">
            </type>
            <typeEndpoint
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Class"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Class">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Operation"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Operation">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Dependency"
                     uri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Dependency">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <mappingType>
            <type
                  name="ActorClassLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ActorClassLink">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Actor"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Class">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="ActorEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ActorClassLink-Actor/ActorEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Actor">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="ClassEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ActorClassLink-Class/ClassEndpoint">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Class">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </mappingType>
         <mappingType>
            <type
                  name="ResourceClassLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceClassLink">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Resource"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Class">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="ResourceEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceClassLink-Resource/ResourceEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Resource">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="ClassEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceClassLink-Class/ClassEndpoint">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Class">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </mappingType>
         <mappingType>
            <type
                  name="TaskOperationLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/TaskOperationLink">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Task"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Operation">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="TaskEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/TaskOperationLink-Task/TaskEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Task">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="OperationEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/TaskOperationLink-Operation/OperationEndpoint">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Operation">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </mappingType>
         <mappingType>
            <type
                  name="GoalDependumDependencyLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/GoalDependumDependencyLink">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Goal"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Dependency">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="GoalDependumEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/GoalDependumDependencyLink-GoalDependum/GoalDependumEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Goal">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="DependencyEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/GoalDependumDependencyLink-Dependency/DependencyEndpoint">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Dependency">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </mappingType>
         <mappingType>
            <type
                  name="ResourceDependumDependencyLink"
                  uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceDependumDependencyLink">
            </type>
            <binaryType
                  sourceTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Resource"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Dependency">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="ResourceDependumEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceDependumDependencyLink-ResourceDependum/ResourceDependumEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/IStar_MAVO#//Resource">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="DependencyEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/IStarCDRel/ResourceDependumDependencyLink-Dependency/DependencyEndpoint">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram_MAVO#//Dependency">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </mappingType>
      </relationshipType>
   </extension>

</plugin>
