<plugin>
   <extension
         name="Name Match"
         point="edu.toronto.cs.se.mmtf.operators">
      <operator
            class="edu.toronto.cs.se.mmtf.xt.graph.operator.NodeNameMatch">
         <input>
            <parameter
                  isVarargs="true"
                  metamodelUri="http:///edu/toronto/cs/se/mmtf/xt/graph/model/graph.ecore"
                  type="model">
            </parameter>
         </input>
         <output>
            <parameter
                  isVarargs="false"
                  metamodelUri="http:///edu/toronto/cs/se/mmtf/xt/graph/model/graph.ecore"
                  type="mapping">
            </parameter>
         </output>
      </operator>
   </extension>
</plugin>
