<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               class="edu.toronto.cs.se.modelepedia.safetycase.operator.GSNSliceRevise"
               name="GSNSliceRevise"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_GsnSliceRevise">
         </type>
         <inputs>
            <parameter>
               <type
                     name="criterion"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GsnSliceRevise-SCRel/criterion">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/SCRel">
               </typeEndpoint>
            </parameter></inputs>
         <outputs>
            <parameter>
               <type
                     name="slice"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GsnSliceRevise-SCRel/slice">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/SCRel">
               </typeEndpoint>
            </parameter></outputs>
      </operatorType>
   </extension>
   
   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               class="edu.toronto.cs.se.modelepedia.safetycase.operator.GSNSliceRecheck"
               name="GSNSliceRecheck"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_GsnSliceRecheck">
         </type>
         <inputs>
            <parameter>
               <type
                     name="criterion"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GsnSliceRecheck-SCRel/criterion">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/SCRel">
               </typeEndpoint>
            </parameter></inputs>
         <outputs>
            <parameter>
               <type
                     name="slice"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GsnSliceRecheck-SCRel/slice">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/SCRel">
               </typeEndpoint>
            </parameter></outputs>
      </operatorType>
   </extension>

</plugin>
