<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2020 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Nick Fung.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
    Nick Fung - Implementation.
-->

<plugin>
   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="GSNSliceRevise2Content"
               class="edu.toronto.cs.se.modelepedia.safetycase.operator.GSNSliceRevise2Content"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRevise2Content">
            <superType
                  uri="http://se.cs.toronto.edu/mmint/Operator_Slice">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="criterion"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRevise2Content-GSNSliceRel/criterion">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Slice-ModelRel/criterion">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter></inputs>
         <outputs>
            <parameter>
               <type
                     name="slice"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRevise2Content-GSNSliceRel/slice">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Slice-ModelRel/slice">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter></outputs>
      </operatorType>
   </extension>
   
   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="GSNSliceRecheck"
               class="edu.toronto.cs.se.modelepedia.safetycase.operator.GSNSliceRecheck"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRecheck">
            <superType
                  uri="http://se.cs.toronto.edu/mmint/Operator_Slice">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="criterion"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRecheck-GSNSliceRel/criterion">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Slice-ModelRel/criterion">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter></inputs>
         <outputs>
            <parameter>
               <type
                     name="slice"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRecheck-GSNSliceRel/slice">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Slice-ModelRel/slice">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter></outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="GSNSliceRevise2State"
               class="edu.toronto.cs.se.modelepedia.safetycase.operator.GSNSliceRevise2State"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRevise2State">
            <superType
                  uri="http://se.cs.toronto.edu/mmint/Operator_Slice">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="criterion"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRevise2State-GSNSliceRel/criterion">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Slice-ModelRel/criterion">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter></inputs>
         <outputs>
            <parameter>
               <type
                     name="slice"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSliceRevise2State-GSNSliceRel/slice">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Slice-ModelRel/slice">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter></outputs>
      </operatorType>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"
            uri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
      </package>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="GSNSliceRel"
                  uri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               <superType
                     uri="http://se.cs.toronto.edu/mmint/SliceRel">
               </superType>
            </type>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="GSNEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel-GSN/GSNEndpoint">
               <superType
                     uri="http://se.cs.toronto.edu/mmint/SliceRel-Model/ModelEndpoint">
               </superType>
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSN">
            </typeEndpoint>
         </modelTypeEndpoint>
      </relationshipType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Slice"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSlice"
               class="edu.toronto.cs.se.modelepedia.safetycase.operator.GSNSlice">
            <superType
                  uri="http://se.cs.toronto.edu/mmint/Operator_Slice">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="criterion"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSlice-GSNSliceRel/criterion">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Slice-SliceRel/criterion">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="slice"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNSlice-GSNSliceRel/slice">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Slice-SliceRel/slice">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Annotate"
               class="edu.toronto.cs.se.modelepedia.safetycase.operator.GSNAnnotate"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNAnnotate">
            <superType
                  uri="http://se.cs.toronto.edu/mmint/Operator_Annotate">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="revise"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNAnnotate-GSNSliceRel/revise">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Annotate-ModelRel/revise">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter>
            <parameter>
               <type
                     name="recheckContent"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNAnnotate-GSNSliceRel/recheckContent">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Annotate-ModelRel/recheckContent">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter>
            <parameter>
               <type
                     name="recheckState"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNAnnotate-GSNSliceRel/recheckState">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Annotate-ModelRel/recheckState">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSNSliceRel">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="annotated"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_GSNAnnotate-GSN/annotated">
                  <superType
                        uri="http://se.cs.toronto.edu/mmint/Operator_Annotate-Model/annotated">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/GSN">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>   

</plugin>
