<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2019 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

<!-- Screenshot artifacts:
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/EntityRelationship"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="EntityRelationship"
               uri="http://se.cs.toronto.edu/modelepedia/EntityRelationship">
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/StateFlow"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="StateFlow"
               uri="http://se.cs.toronto.edu/modelepedia/StateFlow">
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/UMLClassDiagram"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="UMLClassDiagram"
               uri="http://se.cs.toronto.edu/modelepedia/UMLClassDiagram">
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/UMLStateMachine"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="UMLStateMachine"
               uri="http://se.cs.toronto.edu/modelepedia/UMLStateMachine">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Rename"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
         </type>
         <inputs>
            <parameter>
               <type
                     name="orig"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/orig">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="renamed"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/renamed">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Rename"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_CDRename"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="orig"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_CDRename-CD/orig">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/orig">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="renamed"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_CDRename-CD/renamed">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/renamed">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Rename"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ERRename"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="orig"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_ERRename-ER/orig">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/orig">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/EntityRelationship">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="renamed"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_ERRename-ER/renamed">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/renamed">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/EntityRelationship">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Rename"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_SMRename"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="orig"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_SMRename-SM/orig">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/orig">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/StateMachine">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="renamed"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_SMRename-SM/renamed">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/renamed">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/StateMachine">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Rename"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_SFRename"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="orig"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_SFRename-SF/orig">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/orig">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/StateFlow">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="renamed"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_SFRename-SF/renamed">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Rename-Model/renamed">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/StateFlow">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToUML"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
         </type>
         <inputs>
            <parameter>
               <type
                     name="model"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/model">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="uml"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/uml">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToUML"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_CDToUML"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="model"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_CDToUML-CD/model">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/model">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ClassDiagram">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="uml"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_CDToUML-UMLCD/uml">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/uml">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/UMLClassDiagram">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToUML"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_ERToUML"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="model"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_ERToUML-ER/model">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/model">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/EntityRelationship">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="uml"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_ERToUML-UMLCD/uml">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/uml">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/UMLClassDiagram">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToUML"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_SMToUML"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="model"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_SMToUML-SM/model">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/model">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/StateMachine">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="uml"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_SMToUML-UMLSM/uml">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/uml">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/UMLStateMachine">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="ToUML"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_SFToUML"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Dummy">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="model"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_SFToUML-SF/model">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/model">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/StateFlow">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="uml"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_SFToUML-UMLSM/uml">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_ToUML-Model/uml">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/UMLStateMachine">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/NonCompliant"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="NonCompliant"
                  uri="http://se.cs.toronto.edu/modelepedia/NonCompliant">
            </type>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="NC"
                  uri="http://se.cs.toronto.edu/modelepedia/NonCompliant-Model/NC">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
            </typeEndpoint>
         </modelTypeEndpoint>
      </relationshipType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/NonCompliantUMLCD"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="NonCompliant"
                  uri="http://se.cs.toronto.edu/modelepedia/NonCompliantUMLCD">
               <superType
                     uri="http://se.cs.toronto.edu/modelepedia/NonCompliant">
               </superType>
            </type>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="NC"
                  uri="http://se.cs.toronto.edu/modelepedia/NonCompliant-UMLCD/NC">
               <superType
                     uri="http://se.cs.toronto.edu/modelepedia/NonCompliant-Model/NC">
               </superType>
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/UMLClassDiagram">
            </typeEndpoint>
         </modelTypeEndpoint>
      </relationshipType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/NonCompliantUMLSM"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="NonCompliant"
                  uri="http://se.cs.toronto.edu/modelepedia/NonCompliantUMLSM">
               <superType
                     uri="http://se.cs.toronto.edu/modelepedia/NonCompliant">
               </superType>
            </type>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="NC"
                  uri="http://se.cs.toronto.edu/modelepedia/NonCompliant-UMLSM/NC">
               <superType
                     uri="http://se.cs.toronto.edu/modelepedia/NonCompliant-Model/NC">
               </superType>
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/UMLStateMachine">
            </typeEndpoint>
         </modelTypeEndpoint>
      </relationshipType>
   </extension>
-->

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="SOSYM18"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_SOSYM18"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.SOSYM18">
         </type>
         <inputs>
         </inputs>
         <outputs>
            <parameter>
               <type
                     name="polyMID">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/MID">
               </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/OtherType"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="OtherType"
               uri="http://se.cs.toronto.edu/modelepedia/OtherType">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/OtherType"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="OtherType tree"
               uri="http://se.cs.toronto.edu/modelepedia/OtherType_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType0"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType0"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType0">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType0"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType0 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType0_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT0Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT0Sleep1-MT0/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType0">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType1"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType1"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType1">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType1"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType1 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType1_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT1Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT1Sleep1-MT1/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType1">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType2"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType2"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType2">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType2"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType2 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType2_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT2Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT2Sleep1-MT2/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType2">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType3"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType3"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType3">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType3"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType3 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType3_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT3Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT3Sleep1-MT3/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType3">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType4"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType4"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType4">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType4"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType4 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType4_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT4Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT4Sleep1-MT4/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType4">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType5"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType5"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType5">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType5"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType5 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType5_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT5Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT5Sleep1-MT5/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType5">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType6"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType6"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType6">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType6"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType6 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType6_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT6Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT6Sleep1-MT6/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType6">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType7"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType7"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType7">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType7"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType7 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType7_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT7Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT7Sleep1-MT7/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType7">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType8"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType8"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType8">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType8"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType8 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType8_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT8Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT8Sleep1-MT8/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType8">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/ModelType9"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="ModelType9"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType9">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType9"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="ModelType9 tree"
               uri="http://se.cs.toronto.edu/modelepedia/ModelType9_Tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Sleep"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MT9Sleep1"
               class="edu.toronto.cs.se.modelepedia.sosym18.operator.Sleep">
            <superType
                  uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1">
            </superType>
         </type>
         <inputs>
            <parameter>
               <type
                     name="in0"
                     uri="http://se.cs.toronto.edu/modelepedia/Operator_MT9Sleep1-MT9/in0">
                  <superType
                        uri="http://se.cs.toronto.edu/modelepedia/Operator_Sleep1-Model/in0">
                  </superType>
               </type>
               <typeEndpoint
                     targetTypeUri="http://se.cs.toronto.edu/modelepedia/ModelType9">
               </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
         </outputs>
      </operatorType>
   </extension>

</plugin>
