<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012-2015 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated army -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.se.modelepedia.tutorial.army.presentation.ArmyModelWizardID"
            name="%_UI_ArmyModelWizard_label"
            class="edu.toronto.cs.se.modelepedia.tutorial.army.presentation.ArmyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArmyModelFile.gif">
         <description>%_UI_ArmyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated army -->
      <editor
            id="edu.toronto.cs.se.modelepedia.tutorial.army.presentation.ArmyEditorID"
            name="%_UI_ArmyEditor_label"
            icon="icons/full/obj16/ArmyModelFile.gif"
            extensions="army"
            class="edu.toronto.cs.se.modelepedia.tutorial.army.presentation.ArmyEditor"
            contributorClass="edu.toronto.cs.se.modelepedia.tutorial.army.presentation.ArmyActionBarContributor">
      </editor>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/Army"
            id="edu.toronto.cs.se.modelepedia.tutorial.army.presentation.ArmyEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.modelepedia.tutorial.army.presentation.ArmyModelWizardID">
         <type
               name="Army editor"
               uri="http://se.cs.toronto.edu/modelepedia/Army_editor">
         </type>
      </editorType>
   </extension>

</plugin>
