<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.toronto.cs.se.nlsfung.gsn.design.Activator"
               id="edu.toronto.cs.se.nlsfung.gsn.design"
	       name="gsn">
    </component>
  </extension>
  <extension
        point="edu.toronto.cs.se.mmint.editors">
     <editorType
           id="edu.toronto.cs.se.nlsfung.gsn.design"
           modelTypeUri="http://www.cs.toronto.edu/~nlsfung/gsn"
           isDiagram="true">
        <type
              name="SafetyCase Viewpoint"
              uri="Safety case diagram">
        </type>
     </editorType>
  </extension>
</plugin>
