<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2024 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/5.0.0/UML_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="UML_MAVO"
               uri="http://www.eclipse.org/uml2/5.0.0/UML_MAVO"
               class="edu.toronto.cs.se.mmint.mavo.library.MAVOMIDHeavyTypeFactory"
               isAbstract="true">
            <superType
                  uri="http://se.cs.toronto.edu/MAVO">
            </superType>
            <superType
                  uri="http://www.eclipse.org/uml2/5.0.0/UML">
            </superType>
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/5.0.0/UML_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UML_MAVO tree"
               uri="http://www.eclipse.org/uml2/5.0.0/UML_MAVO_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/5.0.0/UML_MAVO"
            wizardDialogClass="edu.toronto.cs.se.mmint.papyrus.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UML_MAVO diagram"
               uri="http://www.eclipse.org/uml2/5.0.0/UML_MAVO_diagram">
         </type>
      </editorType>
   </extension>

</plugin>
