<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2024 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="MODELS17"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_MODELS17"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="models">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MID">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="criteria">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MIDRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="biggerModels">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MID">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="biggerCriteria">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MIDRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

<!-- Screenshot artifacts:
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/models17/BModel"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="BModel"
               uri="http://se.cs.toronto.edu/models17/BModel"
               isAbstract="true">
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/models17/SD"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="SD"
               uri="http://se.cs.toronto.edu/models17/SD">
            <superType
                  uri="http://se.cs.toronto.edu/models17/BModel">
            </superType>
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/models17/P"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="P"
               uri="http://se.cs.toronto.edu/models17/P">
            <superType
                  uri="http://se.cs.toronto.edu/models17/BModel">
            </superType>
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/models17/CD"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="CD"
               uri="http://se.cs.toronto.edu/models17/CD">
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/models17/Promela"
            class="edu.toronto.cs.se.mmint.mid.MIDPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="Promela"
               uri="http://se.cs.toronto.edu/models17/Promela">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Match"
               uri="http://se.cs.toronto.edu/models17/Operator_Match"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="model1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="model2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Match"
               uri="http://se.cs.toronto.edu/models17/Operator_CDMatch"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
            <superType
                  uri="http://se.cs.toronto.edu/models17/Operator_Match">
            </superType>
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="model1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/models17/CD">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="model2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/models17/CD">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Match"
               uri="http://se.cs.toronto.edu/models17/Operator_SDMatch"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
            <superType
                  uri="http://se.cs.toronto.edu/models17/Operator_Match">
            </superType>
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="model1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/models17/SD">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="model2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/models17/SD">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Match"
               uri="http://se.cs.toronto.edu/models17/Operator_MegaMatch"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
            <superType
                  uri="http://se.cs.toronto.edu/models17/Operator_Match">
            </superType>
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="model1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MID">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="model2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MID">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MIDRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Merge"
               uri="http://se.cs.toronto.edu/models17/Operator_Merge"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="merged">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/Model">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="trace1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="trace2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Merge"
               uri="http://se.cs.toronto.edu/models17/Operator_MegaMerge"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
            <superType
                  uri="http://se.cs.toronto.edu/models17/Operator_Merge">
            </superType>
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="match">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MIDRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="merged">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MID">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="trace1">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MIDRel">
	           </typeEndpoint>
            </parameter>
            <parameter>
	           <type
	                 name="trace2">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MIDRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Slice"
               uri="http://se.cs.toronto.edu/models17/Operator_Slice"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="criterion">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="slice">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/ModelRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="Slice"
               uri="http://se.cs.toronto.edu/models17/Operator_MegaSlice"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
            <superType
                  uri="http://se.cs.toronto.edu/models17/Operator_Slice">
            </superType>
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="criterion">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MIDRel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="slice">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/mmint/MIDRel">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.operators">
      <operatorType>
         <type
               name="BModel2Promela"
               uri="http://se.cs.toronto.edu/models17/Operator_BModel2Promela"
               class="edu.toronto.cs.se.modelepedia.models17.operator.MODELS17">
         </type>
         <inputs>
            <parameter>
	           <type
	                 name="original">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/models17/BModel">
	           </typeEndpoint>
            </parameter>
         </inputs>
         <outputs>
            <parameter>
	           <type
	                 name="transformed">
	           </type>
	           <typeEndpoint
	                 targetTypeUri="http://se.cs.toronto.edu/models17/Promela">
	           </typeEndpoint>
            </parameter>
         </outputs>
      </operatorType>
   </extension>
-->
</plugin>
