<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.toronto.cs.se.mmint.productline.design.Activator"
               id="edu.toronto.cs.se.mmint.productline.design"
	       name="productline">
    </component>
  </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="model://edu.toronto.cs.se.mmint.productline"
            id="edu.toronto.cs.se.mmint.productline.design"
            isDiagram="true"
            wizardId="edu.toronto.cs.se.mmint.productline.presentation.ProductLineModelWizardID">
         <type
               name="ProductLine Sirius Diagram"
               uri="edu.toronto.cs.se.mmint.productline.design">
         </type>
      </editorType>
   </extension>

</plugin>
