<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2013 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Vivien Suen.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/Java"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.models">
      <modelType>
         <type
               name="Java"
               uri="http://se.cs.toronto.edu/modelepedia/Java">
         </type>
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/WellFormedJava"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="WellFormedJava"
                  uri="http://se.cs.toronto.edu/modelepedia/WellFormedJava">
            </type>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="JavaEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/WellFormedJava-Java/JavaEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/Java">
            </typeEndpoint>
         </modelTypeEndpoint>
      </relationshipType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/PreserveComponentInterfaces"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="PreserveComponentInterfaces"
                  uri="http://se.cs.toronto.edu/modelepedia/PreserveComponentInterfaces">
            </type>
         </modelType>
         <modelTypeEndpoint>
            <type
                  name="UMLEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/PreserveComponentInterfaces-UML/UMLEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UML">
            </typeEndpoint>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="JavaEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/PreserveComponentInterfaces-Java/JavaEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://se.cs.toronto.edu/modelepedia/Java">
            </typeEndpoint>
         </modelTypeEndpoint>
      </relationshipType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.operators">
      <operatorType
            class="edu.toronto.cs.se.modelepedia.necsis13.operator.Dummy"
            isConversion="true">
         <type
               name="UML2Java"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_UML2Java">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="uml"
                  modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="java"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/Java">
            </parameter>
         </output>
      </operatorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.operators">
      <operatorType
            class="edu.toronto.cs.se.modelepedia.necsis13.operator.Dummy"
            isConversion="false">
         <type
               name="JavaOpt"
               uri="http://se.cs.toronto.edu/modelepedia/Operator_JavaOpt">
         </type>
         <input>
            <parameter
                  isVararg="false"
                  name="java"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/Java">
            </parameter>
         </input>
         <output>
            <parameter
                  isVararg="false"
                  name="optimizedJava"
                  modelTypeUri="http://se.cs.toronto.edu/modelepedia/Java">
            </parameter>
         </output>
      </operatorType>
   </extension>

</plugin>
