<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2013 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.se.modelepedia.istar.presentation.IStarModelWizardID"
            name="%_UI_IStarModelWizard_label"
            class="edu.toronto.cs.se.modelepedia.istar.presentation.IStarModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IStarModelFile.gif">
         <description>%_UI_IStarModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="edu.toronto.cs.se.modelepedia.istar.presentation.IStarEditorID"
            name="%_UI_IStarEditor_label"
            icon="icons/full/obj16/IStarModelFile.gif"
            extensions="istar"
            class="edu.toronto.cs.se.modelepedia.istar.presentation.IStarEditor"
            contributorClass="edu.toronto.cs.se.modelepedia.istar.presentation.IStarActionBarContributor">
      </editor>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/modelepedia/IStar"
            id="edu.toronto.cs.se.modelepedia.istar.presentation.IStarEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.modelepedia.istar.presentation.IStarModelWizardID">
         <extendibleType
               name="IStar tree"
               uri="http://se.cs.toronto.edu/modelepedia/Tree_IStar">
         </extendibleType>
      </editorType>
   </extension>

</plugin>
