<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2014 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="MAVO support in UML models"
            iconpath="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Profile.gif"
            name="MAVOProfile"
            path="platform:/plugin/edu.toronto.cs.se.modelepedia.uml/model/mavo.profile.uml"
            provider="Software Engineering Group, University of Toronto">
      </profile>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType>
         <type
               name="UML"
               uri="http://www.eclipse.org/uml2/4.0.0/UML">
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UML tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType
            isAbstract="true">
         <type
               name="UMLClassDiagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML">
            </superType>
         </type>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLClassDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UMLClassDiagram tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType
            isAbstract="true">
         <type
               name="UMLComponentDiagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML">
            </superType>
         </type>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLComponentDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UMLComponentDiagram tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType
            isAbstract="true">
         <type
               name="UMLDeploymentDiagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML">
            </superType>
         </type>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLDeploymentDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UMLDeploymentDiagram tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UML diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="UMLComponentDeploymentRel"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel">
            </type>
         </modelType>
         <binaryType
               sourceTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram"
               targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="UMLComponentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel-UMLComponentDiagram/UMLComponentEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Usage"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram#//Usage">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Component"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram#//Component">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="UMLDeploymentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel-UMLDeploymentDiagram/UMLDeploymentEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Node"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram#//Node">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Device"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram#//Device">
                   <superType
                         uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram#//Node">
                   </superType>
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <type
                  name="ComponentDeviceLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink">
            </type>
            <binaryType
                  sourceTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram#//Component"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram#//Device">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="ComponentEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink-Component/ComponentEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram#//Component">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="DeviceEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/ComponentDeviceLink-Device/DeviceEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram#//Device">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <type
                  name="UsageNodeLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink">
            </type>
            <binaryType
                  sourceTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram#//Usage"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram#//Node">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="UsageEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink-Usage/UsageEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram#//Usage">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="NodeEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel/UsageNodeLink-Node/NodeEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram#//Node">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

   <!-- MAVO versions-->

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType
            isAbstract="true">
         <type
               name="UML_MAVO"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO">
            <superType
                  uri="http://se.cs.toronto.edu/MAVO">
            </superType>
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML">
            </superType>
         </type>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UML_MAVO tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UML_MAVO diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType
            isAbstract="true">
         <type
               name="UMLClassDiagram_MAVO"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO">
            </superType>
         </type>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLClassDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UMLClassDiagram_MAVO tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UMLClassDiagram_MAVO diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLClassDiagram_MAVO_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType
            isAbstract="true">
         <type
               name="UMLComponentDiagram_MAVO"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO">
            </superType>
         </type>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLComponentDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UMLComponentDiagram_MAVO tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UMLComponentDiagram_MAVO diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO"
            class="org.eclipse.uml2.uml.UMLPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.models">
      <modelType
            isAbstract="true">
         <type
               name="UMLDeploymentDiagram_MAVO"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO">
            <superType
                  uri="http://www.eclipse.org/uml2/4.0.0/UML_MAVO">
            </superType>
         </type>
         <constraint
               implementation="edu.toronto.cs.se.modelepedia.uml.constraint.UMLDeploymentDiagramModelConstraint"
               language="JAVA">
         </constraint>
      </modelType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO"
            id="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            isDiagram="false"
            wizardId="org.eclipse.uml2.uml.editor.presentation.UMLModelWizardID">
         <type
               name="UMLDeploymentDiagram_MAVO tree"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO_tree">
         </type>
      </editorType>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="org.eclipse.papyrus.infra.core.papyrusEditor"
            isDiagram="true"
            modelTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO"
            wizardDialogClass="edu.toronto.cs.se.modelepedia.uml.ui.UMLDiagramCreationWizardDialog"
            wizardId="org.eclipse.papyrus.uml.diagram.wizards.createmodel">
         <type
               name="UMLDeploymentDiagram_MAVO diagram"
               uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO_diagram">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO"
            class="edu.toronto.cs.se.mmint.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.relationships">
      <relationshipType>
         <modelType>
            <type
                  name="UMLComponentDeploymentRel_MAVO"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO">
            </type>
         </modelType>
         <binaryType
               sourceTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO"
               targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO">
         </binaryType>
         <modelTypeEndpoint>
            <type
                  name="UMLComponentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO-UMLComponentDiagram_MAVO/UMLComponentEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Usage"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO#//Usage">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Component"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO#//Component">
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <modelTypeEndpoint>
            <type
                  name="UMLDeploymentEndpoint"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO-UMLDeploymentDiagram_MAVO/UMLDeploymentEndpoint">
            </type>
            <typeEndpoint
                  lowerBound="1"
                  upperBound="1"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO">
            </typeEndpoint>
            <modelElemType>
                <type
                     name="Node"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO#//Node">
                </type>
            </modelElemType>
            <modelElemType>
                <type
                     name="Device"
                     uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO#//Device">
                   <superType
                         uri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO#//Node">
                   </superType>
                </type>
            </modelElemType>
         </modelTypeEndpoint>
         <linkType>
            <type
                  name="ComponentDeviceLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/ComponentDeviceLink">
            </type>
            <binaryType
                  sourceTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO#//Component"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO#//Device">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="ComponentEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/ComponentDeviceLink-Component/ComponentEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO#//Component">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="DeviceEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/ComponentDeviceLink-Device/DeviceEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="1"
                     upperBound="1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO#//Device">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
         <linkType>
            <type
                  name="UsageNodeLink"
                  uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/UsageNodeLink">
            </type>
            <binaryType
                  sourceTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO#//Usage"
                  targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO#//Node">
            </binaryType>
            <modelElemTypeEndpoint>
               <type
                     name="UsageEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/UsageNodeLink-Usage/UsageEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="-1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLComponentDiagram_MAVO#//Usage">
               </typeEndpoint>
            </modelElemTypeEndpoint>
            <modelElemTypeEndpoint>
               <type
                     name="NodeEndpoint"
                     uri="http://se.cs.toronto.edu/modelepedia/UMLComponentDeploymentRel_MAVO/UsageNodeLink-Node/NodeEndpoint">
               </type>
               <typeEndpoint
                     lowerBound="0"
                     upperBound="1"
                     targetTypeUri="http://www.eclipse.org/uml2/4.0.0/UMLDeploymentDiagram_MAVO#//Node">
               </typeEndpoint>
            </modelElemTypeEndpoint>
         </linkType>
      </relationshipType>
   </extension>

</plugin>
