<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated gsn -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.nlsfung.gsn.presentation.GsnModelWizardID"
            name="%_UI_GsnModelWizard_label"
            class="edu.toronto.cs.nlsfung.gsn.presentation.GsnModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GsnModelFile.gif">
         <description>%_UI_GsnModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated gsn -->
      <editor
            id="edu.toronto.cs.nlsfung.gsn.presentation.GsnEditorID"
            name="%_UI_GsnEditor_label"
            icon="icons/full/obj16/GsnModelFile.gif"
            extensions="gsn"
            class="edu.toronto.cs.nlsfung.gsn.presentation.GsnEditor"
            contributorClass="edu.toronto.cs.nlsfung.gsn.presentation.GsnActionBarContributor">
      </editor>
   </extension>
   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            id="edu.toronto.cs.nlsfung.gsn.presentation.GsnEditorID"
            modelTypeUri="http://www.cs.toronto.edu/~nlsfung/gsn"
            wizardId="edu.toronto.cs.nlsfung.gsn.presentation.GsnModelWizardID">
         <type
               name="GSN Editor"
               uri="http://www.cs.toronto.edu/~nlsfung/gsn/editor">
         </type>
      </editorType>
   </extension>

</plugin>
