<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012-2025 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mid -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID"
            name="%_UI_MIDModelWizard_label"
            class="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MIDModelFile.gif">
         <description>%_UI_MIDModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mid -->
      <editor
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            name="%_UI_MIDEditor_label"
            icon="icons/full/obj16/MIDModelFile.gif"
            extensions="mid"
            class="edu.toronto.cs.se.mmint.mid.presentation.MIDEditor"
            contributorClass="edu.toronto.cs.se.mmint.mid.presentation.MIDActionBarContributor">
      </editor>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/mmint/MID"
            id="edu.toronto.cs.se.mmint.mid.presentation.MIDEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.presentation.MIDModelWizardID">
         <type
               name="MID tree"
               uri="http://se.cs.toronto.edu/mmint/MID_tree">
         </type>
      </editorType>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mid -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.se.mmint.mid.relationship.presentation.RelationshipModelWizardID"
            name="%_UI_RelationshipModelWizard_label"
            class="edu.toronto.cs.se.mmint.mid.relationship.presentation.RelationshipModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RelationshipModelFile.gif">
         <description>%_UI_RelationshipModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mid -->
      <editor
            id="edu.toronto.cs.se.mmint.mid.relationship.presentation.RelationshipEditorID"
            name="%_UI_RelationshipEditor_label"
            icon="icons/full/obj16/RelationshipModelFile.gif"
            extensions="relationship"
            class="edu.toronto.cs.se.mmint.mid.relationship.presentation.RelationshipEditor"
            contributorClass="edu.toronto.cs.se.mmint.mid.relationship.presentation.RelationshipActionBarContributor">
      </editor>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmint.editors">
      <editorType
            modelTypeUri="http://se.cs.toronto.edu/mmint/MID/Relationship"
            id="edu.toronto.cs.se.mmint.mid.relationship.presentation.RelationshipEditorID"
            isDiagram="false"
            wizardId="edu.toronto.cs.se.mmint.mid.relationship.presentation.RelationshipModelWizardID">
         <type
               name="Relationship tree"
               uri="http://se.cs.toronto.edu/mmint/MID/Relationship_tree">
         </type>
      </editorType>
   </extension>

</plugin>
