<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Vivien Suen.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension-point id="edu.toronto.cs.se.mmtf.models" name="MMTF model types" schema="schema/edu.toronto.cs.se.mmtf.models.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.relationships" name="MMTF model relationships" schema="schema/edu.toronto.cs.se.mmtf.relationships.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.editors" name="MMTF editors" schema="schema/edu.toronto.cs.se.mmtf.editors.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.operators" name="MMTF operators" schema="schema/edu.toronto.cs.se.mmtf.operators.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/Model"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"/>
   </extension>

   <extension
         name="Model"
         point="edu.toronto.cs.se.mmtf.models">
      <extendibleElement
            uri="http:///edu/toronto/cs/se/mmtf/Model">
      </extendibleElement>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/ModelRel"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"/>
   </extension>

   <extension
         name="ModelRel"
         point="edu.toronto.cs.se.mmtf.relationships">
      <relationship
            isNary="true">
         <extendibleElement
               uri="http:///edu/toronto/cs/se/mmtf/ModelRel">
         </extendibleElement>
         <model
               modelTypeUri="http:///edu/toronto/cs/se/mmtf/Model">
            <modelElement
                  category="ENTITY"
                  classLiteral="ModelElementEntityWildcard"
                  name="EntityElem"
                  uri="http:///edu/toronto/cs/se/mmtf/Model/ModelElement/ENTITY">
            </modelElement>
            <modelElement
                  category="RELATIONSHIP"
                  classLiteral="ModelElementEntityWildcard/modelElementRelationshipWildcard"
                  name="RelElem"
                  uri="http:///edu/toronto/cs/se/mmtf/Model/ModelElement/RELATIONSHIP">
            </modelElement>
         </model>
         <link
               isNary="true"
               name="Link"
               uri="http:///edu/toronto/cs/se/mmtf/ModelRel/Link">
            <linkElement
                  elementName="EntityElem">
            </linkElement>
            <linkElement
                  elementName="RelElem">
            </linkElement>
         </link>
      </relationship>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         name="MID"
         point="edu.toronto.cs.se.mmtf.models">
      <extendibleElement
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore">
      </extendibleElement>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore/relationship"
            class="edu.toronto.cs.se.mmtf.mid.relationship.RelationshipPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         name="Relationship"
         point="edu.toronto.cs.se.mmtf.models">
      <extendibleElement
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore/relationship">
      </extendibleElement>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore/editor"
            class="edu.toronto.cs.se.mmtf.mid.editor.EditorPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore/operator"
            class="edu.toronto.cs.se.mmtf.mid.operator.OperatorPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         name="Ecore"
         point="edu.toronto.cs.se.mmtf.models">
      <extendibleElement
            uri="http://www.eclipse.org/emf/2002/Ecore">
      </extendibleElement>
   </extension>

   <extension
         name="Sample Ecore Editor"
         point="edu.toronto.cs.se.mmtf.editors">
      <editor
            modelTypeUri="http://www.eclipse.org/emf/2002/Ecore"
            id="org.eclipse.emf.ecore.presentation.EcoreEditorID"
            isDiagram="false"
            wizardId="org.eclipse.emf.ecore.presentation.EcoreModelWizardID">
         <extendibleElement
               uri="http:///org/eclipse/emf/ecore/presentation">
         </extendibleElement>
      </editor>
   </extension>

   <extension
         name="Ecore Diagram Editing"
         point="edu.toronto.cs.se.mmtf.editors">
      <editor
            modelTypeUri="http://www.eclipse.org/emf/2002/Ecore"
            id="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditorID"
            isDiagram="true"
            wizardId="org.eclipse.emf.ecoretools.diagram.part.EcoreCreationWizardID">
         <extendibleElement
               uri="http:///org/eclipse/emf/ecoretools/diagram">
         </extendibleElement>
      </editor>
   </extension>

</plugin>
