<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012 Marsha Chechik, Alessio Di Sandro, Michalis Famelis,
 Rick Salay, Vivien Suen.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Alessio Di Sandro - Implementation.
-->

<plugin>

   <extension-point id="edu.toronto.cs.se.mmtf.models" name="MMTF model types" schema="schema/edu.toronto.cs.se.mmtf.models.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.relationships" name="MMTF model relationships" schema="schema/edu.toronto.cs.se.mmtf.relationships.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.editors" name="MMTF editors" schema="schema/edu.toronto.cs.se.mmtf.editors.exsd"/>
   <extension-point id="edu.toronto.cs.se.mmtf.operators" name="MMTF operators" schema="schema/edu.toronto.cs.se.mmtf.operators.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/Model"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"/>
   </extension>

   <extension
         name="Root model type"
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            uri="http:///edu/toronto/cs/se/mmtf/Model">
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/ModelRel"
            class="edu.toronto.cs.se.mmtf.mid.mapping.MappingPackage"/>
   </extension>

   <extension
         name="Root model relationship"
         point="edu.toronto.cs.se.mmtf.relationships">
      <modelType
            uri="http:///edu/toronto/cs/se/mmtf/ModelRel">
      </modelType>
      <modelRelationship
            isNary="true">
         <model
               modelTypeUri="http:///edu/toronto/cs/se/mmtf/Model">
            <modelElement
                  category="ENTITY"
                  classLiteral="MODEL_ELEMENT"
                  name="Root model element entity"
                  uri="http:///edu/toronto/cs/se/mmtf/Model/ModelElement/ENTITY">
            </modelElement>
            <modelElement
                  category="RELATIONSHIP"
                  classLiteral="MODEL_ELEMENT"
                  name="Root model element relationship"
                  uri="http:///edu/toronto/cs/se/mmtf/Model/ModelElement/RELATIONSHIP">
            </modelElement>
         </model>
         <relationshipLink
               isNary="true"
               name="Root model element link"
               uri="http:///edu/toronto/cs/se/mmtf/ModelRel/Link">
            <linkElement
                  elementUri="http:///edu/toronto/cs/se/mmtf/Model/ModelElement/ENTITY">
            </linkElement>
            <linkElement
                  elementUri="http:///edu/toronto/cs/se/mmtf/Model/ModelElement/RELATIONSHIP">
            </linkElement>
         </relationshipLink>
      </modelRelationship>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore"
            class="edu.toronto.cs.se.mmtf.mid.MidPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         name="MID model type"
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore">
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore/mapping"
            class="edu.toronto.cs.se.mmtf.mid.mapping.MappingPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         name="Mapping model type"
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore/mapping">
      </modelType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore/editor"
            class="edu.toronto.cs.se.mmtf.mid.editor.EditorPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/toronto/cs/se/mmtf/model/mid.ecore/operator"
            class="edu.toronto.cs.se.mmtf.mid.operator.OperatorPackage"
            genModel="model/mid.genmodel"/>
   </extension>

   <extension
         name="Ecore model type"
         point="edu.toronto.cs.se.mmtf.models">
      <modelType
            uri="http://www.eclipse.org/emf/2002/Ecore">
      </modelType>
   </extension>

   <extension
         name="Sample Ecore Editor"
         point="edu.toronto.cs.se.mmtf.editors">
      <editor
            modelTypeUri="http://www.eclipse.org/emf/2002/Ecore"
            isDiagram="false"
            editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"
            wizardId="org.eclipse.emf.ecore.presentation.EcoreModelWizardID">
      </editor>
   </extension>

   <extension
         name="Ecore Diagram Editing"
         point="edu.toronto.cs.se.mmtf.editors">
      <editor
            modelTypeUri="http://www.eclipse.org/emf/2002/Ecore"
            isDiagram="true"
            editorId="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditorID"
            wizardId="org.eclipse.emf.ecoretools.diagram.part.EcoreCreationWizardID">
      </editor>
   </extension>

</plugin>
