<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="examples.Queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:examples.Queries" id="examples.Queries">
      <query-specification fqn="examples.asilBConnectedModelElems"/>
      <query-specification fqn="examples.highlyConnectedModelElems"/>
    </group>
  </extension>
  <extension id="library.MID" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:library.MID" id="library.MID">
      <query-specification fqn="library.connectedModelElems"/>
      <query-specification fqn="library.allConnectedModelElems"/>
    </group>
  </extension>
</plugin>
