<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (C) 2012 Marsha Chechik, Alessio Di Sandro, Rick Salay
 
 This file is part of MMTF ver. 0.9.0.
 
 MMTF is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 MMTF is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with MMTF.  If not, see <http://www.gnu.org/licenses/>.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.toronto.cs.se.mmtf.mid.presentation.MidModelWizardID"
            name="%_UI_MidModelWizard_label"
            class="edu.toronto.cs.se.mmtf.mid.presentation.MidModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MidModelFile.gif">
         <description>%_UI_MidModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="edu.toronto.cs.se.mmtf.mid.presentation.MidEditorID"
            name="%_UI_MidEditor_label"
            icon="icons/full/obj16/MidModelFile.gif"
            extensions="mid"
            class="edu.toronto.cs.se.mmtf.mid.presentation.MidEditor"
            contributorClass="edu.toronto.cs.se.mmtf.mid.presentation.MidActionBarContributor">
      </editor>
   </extension>

   <extension
         point="edu.toronto.cs.se.mmtf.editors">
      <editor
            metamodelUri="http:///edu/toronto/cs/se/mmtf/mid/model/mid.ecore"
            isDiagram="false"
            editorId="edu.toronto.cs.se.mmtf.mid.presentation.MidEditorID"
            wizardId="edu.toronto.cs.se.mmtf.mid.presentation.MidModelWizardID">
      </editor>
   </extension>

</plugin>
