<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
    Copyright (c) 2022, 2022 Alessio Di Sandro.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Alessio Di Sandro - Implementation
 -->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category id="edu.toronto.cs.se.mmint.example"
            name="MMINT Examples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard id="edu.toronto.cs.se.mmint.examples.sle22"
            category="org.eclipse.ui.Examples/edu.toronto.cs.se.mmint.example"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            project="true"
            name="SLE22">
         <description>Creates a project containing the artifacts from the SLE22 paper</description>
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.common.ui.examples">
      <example id="edu.toronto.cs.se.mmint.examples.sle22"
            wizardID="edu.toronto.cs.se.mmint.examples.sle22">
         <projectDescriptor name="SLE22"
               contentURI="SLE22/"
               description="Creates a project containing the artifacts from the SLE22 paper"/>
         <fileToOpen location="SLE22/README.md"/>
      </example>
   </extension>

</plugin>
