<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.toronto.cs.se.modelepedia.sequencediagram.design.Activator"
               id="edu.toronto.cs.se.modelepedia.sequencediagram.design"
	       name="sequencediagram">
    </component>
  </extension>

  <extension
        point="edu.toronto.cs.se.mmint.editors">
     <editorType
           id="edu.toronto.cs.se.modelepedia.sequencediagram.design"
           isDiagram="true"
           modelTypeUri="http://se.cs.toronto.edu/modelepedia/SequenceDiagram"
           wizardId="edu.toronto.cs.se.modelepedia.sequencediagram.presentation.SequenceDiagramModelWizardID">
        <type
              name="SequenceDiagram representation"
              uri="http://se.cs.toronto.edu/modelepedia/Representation_SequenceDiagram">
        </type>
     </editorType>
  </extension>

</plugin>
